<h1 class="text-center">
    Welcome, {{ user.first_name }}
</h1>

<section class="mt-5">
    <form method="post" id="employer-profile" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row justify-content-around">
            <div class="col-md-2">
                <img width="100%" style="object-fit: scale-down" class="mb-2" src="{{ user.profile_picture.url }}"
                     alt="profile-picture"/>
                {{ employer_user_form.profile_picture.label_tag }}
                {{ employer_user_form.profile_picture }}
                <div class="mt-5 ml-2 mb-5">
                    <div class="row">
                        <a class="neutral-btn mr-4"
                           href="{% url 'logout' %}?next=/">Logout</a>
                        <a class="danger-btn"
                           href="{% url "delete" %}">Delete account</a>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    {{ employer_user_form.employer_profile.company_name.label_tag }}
                    {{ employer_user_form.employer_profile.company_name }}
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {{ employer_user_form.first_name.label_tag }}
                        {{ employer_user_form.first_name }}
                    </div>
                    <div class="form-group col-md-6">
                        {{ employer_user_form.last_name.label_tag }}
                        {{ employer_user_form.last_name }}
                    </div>
                </div>
                <div class="form-group">
                    {{ employer_user_form.email.label_tag }}
                    {{ employer_user_form.email }}
                </div>
                <div class="form-group">
                    {{ employer_profile_form.company_website.label_tag }}
                    {{ employer_profile_form.company_website }}
                </div>
                <button class="btn btn-primary w-100 save-btn" type="submit">Save</button>

                <div class="row text-center mt-5 mb-5">
                    <div class="col-lg-2 mb-4">
                        <a class="neutral-btn w-100" href="{% url 'applications' %}">View applications</a>
                    </div>
                    <div class="col-lg-2 mb-4">
                        <a class="success-btn w-100" href="{% url 'acceptances' %}">View acceptances</a>
                    </div>
                    <div class="col-lg-2 mb-4">
                        <a class="danger-btn w-100" href="{% url 'rejections' %}">View rejections</a>
                    </div>
                    <div class="col-lg-4 mb-4">
                        <a class="neutral-btn w-100" href="{% url 'interview_requests' %}">View interview requests</a>
                    </div>
                    <div class="col-lg-2 mb-4">
                        <a class="success-btn w-100" href="{% url 'listings' %}">View Listings</a>
                    </div>
                </div>
            </div>
        </div>

    </form>
</section>



