{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include 'boilerplate/bootstrap.html' %}

        <link rel="stylesheet" href="{% static "css/style.css" %}"/>

        <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/logo-small-transparent.png' %}"/>

        <script src="https://kit.fontawesome.com/a76f8913d2.js" crossorigin="anonymous"></script>


        <title>Interniac</title>
    </head>
    <body>

        <section id="nav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img width=200 height="50" src="{% static "assets/images/logos/logo-transparent.png" %}" alt="logo"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'careers' %}">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'marketplace' %}">Marketplace</a>
                        </li>
                        <li class="nav-item nav-item-active">
                            <a class="nav-link" href="{{ user.get_absolute_url }}">Account</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>

        <div class="container-fluid">
            <div class="mb-4">
                <a href="{% url 'profile' %}">
                    <i class="fas fa-arrow-circle-left fa-2x"></i>
                </a>
            </div>

            <div class="row justify-content-around">
                {% for listing in user.listing.all %}
                    <div class="col-md-3 mb-5 mr-2 ml-2 bg-white light-outer-shadow p-5 br-10">
                        <h4 class="mb-4 font-weight-bold">{{ listing.title }}</h4>
                        <div class="row text-center">
                            <div class="col-lg-4">
                                <a class="success-cta-btn  mat-btn w-100" href="{{ listing.get_absolute_url }}">View</a>
                            </div>
                            <div class="col-lg-4">
                                <a class="neutral-cta-btn  mat-btn w-100" href="{% url 'edit_listing' slug=listing.slug %}">Edit</a>
                            </div>
                            <div class="col-lg-4">
                                <a onclick="return confirm('Are you sure?');" href="{% url 'delete_listing' listing_id=listing.id %}"
                                   class="danger-cta-btn  mat-btn w-100">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>