<img src="{{ user.profile_picture.url }}" alt="profile-picture"/>
<h2>
    Welcome, {{ user.first_name }}
</h2>

<section>
    <div class="row justify-content-end">
        <div class="col-md-3">
            <a href="{% url 'applications' %}">View applications</a>
        </div>
        <div class="col-md-3">
            <a>View listing</a>
        </div>
        <div class="col-md-3">
            <a>View acceptances</a>
        </div>
        <div class="col-md-3">
            <a>View rejections</a>
        </div>
    </div>
</section>

