<h1>
    Staff
</h1>

<div class="row mt-5 justify-content-around">
    <div class="col-md-12">
        <h4>New career</h4>
        <form method="post">
            {% csrf_token %}
            {{ new_career.as_p }}
            <button class="btn btn-primary w-100 save-btn" type="submit">Save</button>
        </form>
    </div>
</div>


<div class="mt-5">
    <a class="danger-btn"
       href="{% url "delete" %}" onclick="return confirm('Are you sure?');">Delete account</a>
    <a class="neutral-btn"
       href="{% url 'logout' %}?next=/">Logout</a>
</div>


