<h1>Welcome, {{ user.first_name }}</h1>

<form class="mt-5" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-lg-2">
            <img class="img-fluid mb-2" src="{{ user.get_profile_pic_url }}" alt="profile-picture"/>
            <p>
                {{ student_user_form.profile_picture.label_tag }}
                {{ student_user_form.profile_picture }}
                {{ student_user_form.profile_picture.errors }}
            </p>

            <div class="mt-4">
                <div class="row justify-content-between">
                    <div class="col-xl-7">
                        <a class="danger-cta-btn  mat-btn"
                        href="{% url "delete" %}" onclick="return confirm('Are you sure?');">Delete account</a>
                    </div>
                    <div class="col-xl-4 mtb-xl">
                        <a class="neutral-cta-btn  mat-btn"
                        href="{% url 'logout' %}?next=/">Logout</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-3">
                    <p>
                        {{ student_profile_form.phone.label_tag }}
                        {{ student_profile_form.phone }}
                        {{ student_profile_form.phone.errors }}
                    </p>

                </div>

                <div class="col-lg-3">
                    <p>
                        {{ student_profile_form.dob.label_tag }}
                        {{ student_profile_form.dob }}
                        {{ student_profile_form.dob.errors }}
                    </p>

                </div>

                <div class="col-lg-3">
                    <p>
                        {{ student_profile_form.hs.label_tag }}
                        {{ student_profile_form.hs }}
                        {{ student_profile_form.hs.errors }}
                    </p>

                </div>

                <div class="col-lg-3">
                    <p>
                        {{ student_profile_form.hs_addy.label_tag }}
                        {{ student_profile_form.hs_addy }}
                        {{ student_profile_form.hs_addy.errors }}
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <p>
                        {{ student_user_form.email.label_tag }}
                        {{ student_user_form.email }}
                        {{ student_user_form.email.errors }}
                    </p>

                </div>
                <div class="col-lg-4">
                    <p>
                        {{ student_user_form.first_name.label_tag }}
                        {{ student_user_form.first_name }}
                        {{ student_user_form.first_name.errors }}
                    </p>

                </div>
                <div class="col-lg-4">
                    <p>
                        {{ student_user_form.last_name.label_tag }}
                        {{ student_user_form.last_name }}
                        {{ student_user_form.last_name.errors }}
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>
                        {{ student_profile_form.teacher_or_counselor_email.label_tag }}
                        {{ student_profile_form.teacher_or_counselor_email }}
                        {{ student_profile_form.teacher_or_counselor_email.errors }}
                    </p>

                </div>

                <div class="col-lg-6">
                    <p>
                        {{ student_profile_form.teacher_or_counselor_name.label_tag }}
                        {{ student_profile_form.teacher_or_counselor_name }}
                        {{ student_profile_form.teacher_or_counselor_name.errors }}
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <p>
                        {{ student_profile_form.extracurriculars.label_tag }}
                        {{ student_profile_form.extracurriculars }}
                        {{ student_profile_form.extracurriculars.errors }}
                    </p>

                </div>

                <div class="col-lg-3">
                    <p>
                        {{ student_profile_form.volunteering_exp.label_tag }}
                        {{ student_profile_form.volunteering_exp }}
                        {{ student_profile_form.volunteering_exp.errors }}
                    </p>

                </div>

                <div class="col-lg-3">
                    <p>
                        {{ student_profile_form.awards_achievements.label_tag }}
                        {{ student_profile_form.awards_achievements }}
                        {{ student_profile_form.awards_achievements.errors }}
                    </p>

                </div>

                <div class="col-lg-3">
                    <p>
                        {{ student_profile_form.work_exp.label_tag }}
                        {{ student_profile_form.work_exp }}
                        {{ student_profile_form.work_exp.errors }}
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <p>
                        {{ student_profile_form.skills.label_tag }}
                        {{ student_profile_form.skills }}
                        {{ student_profile_form.skills.errors }}
                    </p>

                </div>

                <div class="col-lg-6">
                    <p>
                        {{ student_profile_form.leadership_roles.label_tag }}
                        {{ student_profile_form.leadership_roles }}
                        {{ student_profile_form.leadership_roles.errors }}
                    </p>

                </div>
            </div>

            <div class="text-center w-100 mt-5">
                <p>Links To External Sources (LinkedIn, GitHub, Instagram, etc)</p>
            </div>

            <div class="row mb-5">
                <div class="col-lg-3">
                    {{ student_profile_form.link1.label_tag }}
                    {{ student_profile_form.link1 }}
                    {{ student_profile_form.link1.errors }}
                </div>
                <div class="col-lg-3">
                    {{ student_profile_form.link2.label_tag }}
                    {{ student_profile_form.link2 }}
                    {{ student_profile_form.link2.errors }}
                </div>
                <div class="col-lg-3">
                    {{ student_profile_form.link3.label_tag }}
                    {{ student_profile_form.link3 }}
                    {{ student_profile_form.link3.errors }}
                </div>
                <div class="col-lg-3">
                    {{ student_profile_form.link4.label_tag }}
                    {{ student_profile_form.link4 }}
                    {{ student_profile_form.link4.errors }}
                </div>
            </div>

            <button class="btn btn-primary w-100 save-btn">Save</button>

            <div style="margin-bottom: 8rem"></div>

            <div class="row text-center justify-content-around">
                <div class="col-lg-4 mb-4">
                    <a href="{% url 'applications' %}" class="neutral-cta-btn  mat-btn w-100">View Applications</a>
                </div>
                <div class="col-lg-4 mb-4">
                    <a href="{% url 'rejections' %}" class="danger-cta-btn  mat-btn w-100">View Rejections</a>
                </div>
                <div class="col-lg-4 mb-4">
                    <a href="{% url 'interview_requests' %}" class="neutral-cta-btn  mat-btn w-100">View Interview Requests</a>
                </div>
                <div class="col-lg-4 mb-4">
                    <a class="success-cta-btn  mat-btn w-100" href="{% url 'awaiting_confirm' %}">Awaiting Confirmation</a>
                </div>
                
                <div class="col-lg-4 mb-4">
                    <a href="{% url 'acceptances' %}" class="success-cta-btn  mat-btn w-100">View Acceptances</a>
                </div>
            </div>

        </div>
    </div>
</form>
