<h1>Welcome, {{ user.first_name }}</h1>

<form class="mt-5" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2">
            <img class="img-fluid mb-2" src="{{ user.get_profile_pic_url }}" alt="profile-picture"/>
            <p>
                {{ student_user_form.profile_picture.label_tag }}
                {{ student_user_form.profile_picture }}
                {{ student_user_form.profile_picture.errors }}
            </p>

            <div class="mt-4">
                <div class="row justify-content-between">
                    <div class="col-xl-7">
                        <a class="danger-cta-btn  mat-btn"
                        href="{% url "delete" %}" onclick="return confirm('Are you sure?');">Delete account</a>
                    </div>
                    <div class="col-xl-4 mtb-xl">
                        <a class="neutral-cta-btn  mat-btn"
                        href="{% url 'logout' %}?next=/">Logout</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-3">
                    <p>
                        {{ student_profile_form.phone.label_tag }}
                        {{ student_profile_form.phone }}
                        {{ student_profile_form.phone.errors }}
                    </p>

                </div>

                <div class="col-md-3">
                    <p>
                        {{ student_profile_form.dob.label_tag }}
                        {{ student_profile_form.dob }}
                    </p>

                </div>

                <div class="col-md-3">
                    <p>
                        {{ student_profile_form.hs.label_tag }}
                        {{ student_profile_form.hs }}
                    </p>

                </div>

                <div class="col-md-3">
                    <p>
                        {{ student_profile_form.hs_addy.label_tag }}
                        {{ student_profile_form.hs_addy }}
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <p>
                        {{ student_user_form.email.label_tag }}
                        {{ student_user_form.email }}
                    </p>

                </div>
                <div class="col-md-4">
                    <p>
                        {{ student_user_form.first_name.label_tag }}
                        {{ student_user_form.first_name }}
                    </p>

                </div>
                <div class="col-md-4">
                    <p>
                        {{ student_user_form.last_name.label_tag }}
                        {{ student_user_form.last_name }}
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        {{ student_profile_form.teacher_or_counselor_email.label_tag }}
                        {{ student_profile_form.teacher_or_counselor_email }}
                    </p>

                </div>

                <div class="col-md-6">
                    <p>
                        {{ student_profile_form.teacher_or_counselor_name.label_tag }}
                        {{ student_profile_form.teacher_or_counselor_name }}
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <p>
                        {{ student_profile_form.extracurriculars.label_tag }}
                        {{ student_profile_form.extracurriculars }}
                    </p>

                </div>

                <div class="col-md-3">
                    <p>
                        {{ student_profile_form.volunteering_exp.label_tag }}
                        {{ student_profile_form.volunteering_exp }}
                    </p>

                </div>

                <div class="col-md-3">
                    <p>
                        {{ student_profile_form.awards_achievements.label_tag }}
                        {{ student_profile_form.awards_achievements }}
                    </p>

                </div>

                <div class="col-md-3">
                    <p>
                        {{ student_profile_form.work_exp.label_tag }}
                        {{ student_profile_form.work_exp }}
                    </p>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>
                        {{ student_profile_form.skills.label_tag }}
                        {{ student_profile_form.skills }}
                    </p>

                </div>

                <div class="col-md-6">
                    <p>
                        {{ student_profile_form.leadership_roles.label_tag }}
                        {{ student_profile_form.leadership_roles }}
                    </p>

                </div>
            </div>

            <button class="btn btn-primary w-100 save-btn">Save</button>

            <div style="margin-bottom: 5rem"></div>

            <div class="row text-center justify-content-around">
                <div class="col-md-4 mb-4">
                    <a href="{% url 'applications' %}" class="neutral-cta-btn  mat-btn w-100">View Applications</a>
                </div>
                <div class="col-md-4 mb-4">
                    <a href="{% url 'rejections' %}" class="danger-cta-btn  mat-btn w-100">View Rejections</a>
                </div>
                <div class="col-md-4 mb-4">
                    <a href="{% url 'interview_requests' %}" class="neutral-cta-btn  mat-btn w-100">View Interview Requests</a>
                </div>
                <div class="col-lg-4 mb-4">
                    <a class="success-cta-btn  mat-btn w-100" href="{% url 'awaiting_confirm' %}">Awaiting Confirmation</a>
                </div>
                
                <div class="col-md-4 mb-4">
                    <a href="{% url 'acceptances' %}" class="success-cta-btn  mat-btn w-100">View Acceptances</a>
                </div>
            </div>

        </div>
    </div>
</form>
