{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <link rel="stylesheet" href="{% static "css/style.css" %}"/>
        <link rel="stylesheet" href="{% static "css/bubbles.css" %}"/>


        <link rel="shortcut icon" type="image/png" href="{% static 'assets/favicon.ico' %}"/>


        <script src="https://kit.fontawesome.com/a76f8913d2.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <title>Interniac</title>
    </head>
    <body>
        <section id="nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img width="50" height="50" src="{% static "assets/images/logo-transparent.png" %}" alt="logo"/>
                    Ｉｎｔｅｒｎｉａｃ
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'careers' %}">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'students' %}">Students</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'employers' %}">Employers</a>
                        </li>
                        <li class="nav-item nav-item-active">
                            <a class="nav-link active" href="{% url 'aboutus' %}">About Us</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>

        <section>

            <div class="container mt-5">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2">
                                <div class="circle-decoration" style="background-color: #c986e5"></div>
                                <div class="thumb-lg"><img src="{% static 'assets/images/the_team/aria.jpg' %}"
                                                           class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                <div class="mt-2">
                                    <h4 class="text-left mb-0">Aria Parekh</h4>
                                    <p class="text-muted text-left">Founder</p>
                                </div>
                                <p class="text-left text-muted lh-1">Aria Parekh is a sophomore at John Champe High
                                    School. She loves to draw, play the piano, read, watch Friends, and do any water-related
                                    activity including swimming, kayaking, and jet skiing. She is a part of Future Business
                                    Leaders of America. She is also the 10th-grade treasurer, runs cross country, and tutors
                                    two elementary kids.</p>
                                <div class="circle-decoration" style="background-color: turquoise"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2">
                                <div class="thumb-lg"><img src="{% static 'assets/images/the_team/purva.jpg' %}"
                                                           class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                <div class="mt-2">
                                    <h4 class="text-left mb-0">Purva Shah</h4>
                                    <p class="text-muted text-left">Founder</p>
                                </div>
                                <div class="circle-decoration" style="background-color: #9ade6d"></div>
                                <p class="text-left text-muted lh-1">Purva Shah is a high school senior from Tampa, Florida.
                                    Some fun facts--
                                    She loves ice cream, dogs, and this fire team. Purva also plays the flute, participates in
                                    the RNF Student Service
                                    Program for service and leadership, and you can also find her on the Florida Aquarium floor
                                    as part of the youth
                                    council. She plans to continue her education at a university after high school and long-term
                                    work on the analytics
                                    of global poverty issues.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2">
                                <div class="thumb-lg"><img src="{% static 'assets/images/the_team/rahi.jpg' %}"
                                                           class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                <div class="mt-2">
                                    <div class="circle-decoration" style="background-color: #4075e0"></div>
                                    <h4 class="text-left mb-0">Rahi Shah</h4>
                                    <p class="text-muted text-left">Founder</p>
                                </div>
                                <p class="text-left text-muted lh-1">Rahi Shah is a junior at Rochester High School in Rochester
                                    Hills, Michigan.
                                    She is a part of many organizations at her school including National Honors Society,
                                    Business Professionals of America,
                                    Rotary Interact, and Key Club. She loves volunteering and giving back her time to the
                                    community. Rahi is the Junior Class
                                    President of the National Social Studies Honors Society and is also on the executive youth
                                    board of a local nonprofit known
                                    as the Rochester Area Neighborhood House. She enjoys public speaking and is the Co-Captain
                                    of Finesse Academy's alumni club.
                                    Apart from extracurriculars, Rahi runs cross country and plays lacrosse.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2">
                                <div class="thumb-lg"><img src="{% static 'assets/images/the_team/yash.jpg' %}"
                                                           class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                <div class="mt-2">
                                    <h4 class="text-left mb-0">Yash Vardhan</h4>
                                    <p class="text-muted text-left">Founder</p>
                                </div>
                                <p class="text-left text-muted lh-1">Yash Vardhan is a Senior at Seminole High School in Orlando, Florida.
                                    Outside of BPA, Yash competes in the FIRST Tech Challenge Robotics competition, National History Fair,
                                    Tae Kwon Do, and Soccer. He also enjoys traditional Indian dance and playing the guitar. Additionally, Yash
                                    runs his own business called “Unavigate,” a service geared towards connecting high schoolers to college
                                    students in order to assist with the college application process. He also plans to attend the University of
                                    Pennsylvania to study business & engineering and hopes to one day open his own company.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2">
                                <div class="thumb-lg"><img src="{% static 'assets/images/the_team/kashvi.jpeg' %}"
                                                           class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                <div class="mt-2">
                                    <h4 class="text-left mb-0">Kashvi Patel</h4>
                                    <p class="text-muted text-left">Team Member</p>
                                </div>
                                <div class="circle-decoration" style="background-color: #f3b94e"></div>
                                <p class="text-left text-muted lh-1">Kashvi Patel is a sophomore at Freedom High School. She loves to travel and
                                    go outside in her free time. She is involved in DECA and likes to tutor. She also enjoys volunteering at the
                                    library. Kashvi joined Interniac because she wants to help high schoolers learn through interning and she is
                                    super excited to see where Interniac is headed!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center card-box">

                            <div class="member-card pt-2 pb-2">
                                <div class="thumb-lg">
                                    <img src="{% static 'assets/images/the_team/megha.jpeg' %}"
                                                           class="rounded-circle img-thumbnail" alt="profile-image">
                                </div>
                                <div class="mt-2">
                                    <h4 class="text-left mb-0">Megha Thomas</h4>
                                    <p class="text-muted text-left">Team Member</p>
                                </div>
                                <p class="text-left text-muted lh-1">Megha Thomas is an 11th grader from Annapolis, Maryland. One of her biggest
                                    passions is teaching; She tutors a 5th grader, helps a Ukrainian student learn English, and teaches Bollywood
                                    dance from time to time. Megha joined Interniac because she wanted to help high schoolers like herself learn about
                                    different fields through internships. She strongly believes that internships are some of the most valuable ways a
                                    student can spend their time to gain work experience and a deeper understanding of a career that interests them!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="circle-decoration" style="background-color: turquoise"></div>
                <div class="row mt-5">
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2">
                                <div class="thumb-lg"><img src="{% static 'assets/images/the_team/omkar.jpeg' %}"
                                                           class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                <div class="mt-2">
                                    <h4 class="text-left mb-0">Omkar Ghodke</h4>
                                    <p class="text-muted text-left">Team Member</p>
                                </div>
                                <p class="text-left text-muted lh-1">Omkar Ghodke is a junior at Rochester High School. Omkar enjoys singing and playing
                                    basketball. He joined Interniac because he loved the idea of providing opportunities to high schoolers like himself,
                                    which will help them prepare for their careers and connect them to their future by giving great internship opportunities!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="member-card pt-2 pb-2">
                                <div class="thumb-lg"><img src="{% static 'assets/images/the_team/tvisha.jpeg' %}"
                                                           class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                <div class="mt-2">
                                    <h4 class="text-left mb-0">Tvisha Bakshi</h4>
                                    <p class="text-muted text-left">Team Member</p>
                                </div>
                                <div class="circle-decoration" style="background-color: #9a9ae0"></div>
                                <p class="text-left text-muted lh-1">Tvisha Bakshi is a sophomore at Lightridge High School.
                                    She believes that gaining experience and expanding one’s skill set is just as, if not, more
                                    important than simply learning in a classroom. From her experience, it is extremely hard to
                                    find internships as a high schooler when all companies are looking for college students. That
                                    is why when she heard about Interniac and its mission to provide students in high school with
                                    these opportunities, she knew that she wanted to be apart of it! She looks forward to helping other
                                    kids find internships and gain experience through Interniac’s work!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="text-center card-box">
                            <div class="circle-decoration" style="background-color: #4eeef3"></div>
                            <div class="member-card pt-2 pb-2">
                                <div class="thumb-lg"><img src="{% static 'assets/images/the_team/dhruv.jpeg' %}"
                                                           class="rounded-circle img-thumbnail" alt="profile-image"></div>
                                <div class="mt-2">
                                    <h4 class="text-left mb-0">Dhruv Dighrasker</h4>
                                    <p class="text-muted text-left">Team Member</p>
                                </div>
                                <p class="text-left text-muted lh-1">Dhruv Dighrasker is a junior in Troy, Michigan, and an interest of his is
                                    helping students, whether it’s through tutoring, providing resources, or any other type of assistance. In his
                                    free time, he likes running, mostly long distances, and working out. He is also gaining a lot of interest in </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <footer>
                <div class="socials row justify-content-center">
                    <a target="_blank" href="https://www.instagram.com/interniac/"><i
                            class="icon fab fa-instagram fa-2x"></i></a>
                    <a target="_blank" href="https://www.tiktok.com/@_connectx?lang=en"><i class="icon fab fa-tiktok fa-2x"></i></a>
                    <a target="_blank" href="https://www.facebook.com/connectx.founders"><i
                            class="icon fab fa-facebook fa-2x"></i></a>
                </div>
                <p>© 2021 Interniac. All rights reserved</p>
            </footer>
        </section>

    </body>


</html>