<form method="get" id="filters" action="{% url 'filter' %}">
    {{ filters.as_p }}
</form>


<script type="text/javascript">

    let filtersForm = $('#filters');
    let filters;

    $('form ul li input').change(function () {
        filter()
    })

    function filter() {
        // save the current filters
        filters = filtersForm.serialize()
        $.ajax({
            type: filtersForm.attr('method'),
            url: filtersForm.attr('action'),
            data: filters + "&" + search,
            success: function (data) {
                $("#listings").html(data);
            },
            error: function (_) {
                $("#listings").html("Something went wrong!");
            }
        });
        return false;
    }

</script>