<div class="mt-5" id="listings">
    {% for listing in object_list %}
        <div class="listing-card mb-5">
            <div class="container-fluid mt-3 mb-3">
                <div class="row mb-4">
                    <div class="col-lg-9">
                        <h5 class="mb-4">{{ listing.title }}</h5>
                        <p class="mb-4" style="line-height: 0">{{ listing.company.employer_profile.company_name }}</p>
                            {% if listing.type == "paid" %}
                                <p>paid -
                                    {% if listing.where == 'in-person' %}
                                        in person
                                    {% else %}
                                        virtual
                                        </p>
                                    {% endif %}
                            {% else %}
                                <p>unpaid -
                                    {% if listing.where == 'in-person' %}
                                        in person
                                    {% else %}
                                        virtual
                                        </p>
                                    {% endif %}
                            {% endif %}
                        <p>Date posted: {{ listing.posted }}</p>
                    </div>
                    {% if user.is_student %}
                        <div class="col-lg-3 text-right">
                            {% if user in listing.rejections.all %}
                                <p class="text-danger">Rejected</p>
                            {% elif user in listing.acceptances.all %}
                                <p class="text-success">Accepted</p>
                            {% elif user in listing.interview_requests.all %}
                                <p class="text-info">Interview requested</p>
                            {% elif listing.application_url %}
                                <p></p>
                            {% else %}
                                {% if listing in user.applications.all %}
                                    <button class="apply-unapply-btn" onclick="unapply({{ listing.id }}, this)">Unapply
                                    </button>
                                {% else %}
                                    <button class="apply-unapply-btn" onclick="apply({{ listing.id }}, this)">Apply
                                    </button>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
                <p class="text-muted">{{ listing.description|truncatechars:500 }}</p>
                <div class="row justify-content-end">
                    <a class="view mr-2" href="{{ listing.get_absolute_url }}">View</a>
                </div>
            </div>
        </div>
    {% empty %}
        <h1 class="alert-danger text-center mt-3">No results</h1>
    {% endfor %}
</div>

<script type="text/javascript">
    function apply(id, el) {
        $.ajax({
            type: 'get',
            headers: {
                'SameSite': 'Lax'
            },
            url: `/applications/apply/${id}`,
            success: function (data) {
                $(el).replaceWith(data);
            },
            error: function (_) {
                $(el).html("Something went wrong!");
            }
        })
    }

    function unapply(id, el) {
        $.ajax({
            type: 'get',
            url: `/applications/unapply/${id}`,
            headers: {
                'SameSite': 'Lax'
            },
            success: function (data) {
                $(el).replaceWith(data);
            },
            error: function (_) {
                $(el).html("Something went wrong!");
            }
        })
    }
</script>
