<form id="search" method="get" action="{% url 'filter' %}" >
    <input class="add_your_class" type="search" name="search">
    <button class="btn btn-primary" type="submit"> Search </button>
</form>



<script type="text/javascript">
    let searchFrm = $('#search');
    let search;
    searchFrm.submit(function () {
        search = searchFrm.serialize()
        $.ajax({
            type: searchFrm.attr('method'),
            url: searchFrm.attr('action'),
            data: search + "&" + filtersForm,
            success: function (data) {
                $("#listings").html(data);
            },
            error: function (data) {
                $("#listings").html("Something went wrong!");
            }
        });
        return false;
    });
</script>