.dot {
    animation: MoveUpDown 2s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.grid-container {
    grid-template-columns: auto auto auto;
    display: inline-grid;
    margin-top: 5rem;
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 20px;
    }
}

.dot-container {
    padding: 3px;
}

.circle-decoration {
    z-index: -1;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}