#id_username, #id_password {
    width: 100%;
    padding: 0.6rem;
    border-radius: 7px;
    border: 1px solid lightgrey;
    box-shadow: var(--light-outer-shadow);
}

#login-btn{
    width: 100%;
    padding: 1rem;
    border-radius: 0.8rem;
}