#id_type li:first-child {display:none}
#id_where li:first-child {display:none}
#id_career li:first-child {display:none}
#id_company li:first-child {display:none}

ul{
    list-style-type: none;
}


form p {
    margin: 0;
}

#searchbar{
    background-color: white;
    border-color: black;
    border-width: 0.1rem;
    border-radius: 10px;
    padding: 0.4rem;
}

.listing-card{
    width: 100%;
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px -4px #000000;
}

.container-fluid{
    max-width: 1750px;
}

.btn-secondary{
    height: 100%;
    border-radius: 10px !important;
}

.btn-secondary:focus{
    box-shadow: 0 0 0 0.1rem var(--primary-color) !important;
}