#id_type li:first-child {display:none}
#id_where li:first-child {display:none}
#id_career li:first-child {display:none}

.listing-card{
    display: inline-block;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px -4px #000000;
}