/*
GENERAL
 */
:root {
    --primary-color: #040456;
    --secondary-color: #3DADFF;
    --bg-color-primary: #58b895;
    --bg-color-secondary: #8beaff;
    --gradient-primary-one: #2c7ee4;
    --gradient-primary-two: #2db6ee;
    --gradient-secondary-one: #fd5288;
    --gradient-secondary-two: #ee886c;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --form-input-bg: #e8e8ec
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: var(--primary-color) !important;
}

nav {
    margin-bottom: 3rem;
}

textarea, input {
    display: block;
}

html {
    scroll-behavior: smooth;
}

html > body {
    font-family: 'font', sans-serif;
    overflow-x: hidden;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}


a {
    text-decoration: none;
}

.primary {
    color: var(--primary-color)
}

.secondary {
    color: var(--secondary-color)
}

p {
    line-height: 2;
    overflow-wrap: break-word;
}

.btn-outline-primary {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn-outline-primary:hover {
    color: white !important;
    background-color: var(--primary-color) !important;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem #4f4f67 !important;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: var(--primary-color) !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff !important;
  background-color: var(--primary-color) !important;;
}



.btn-primary {
    color: #fff;
    background-color: var(--primary-color) !important;
    border-color: #007bff;
}

.btn-secondary:active, .btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem var(--primary-color) !important;
}

.btn-secondary {
    color: #fff;
    background-color: var(--secondary-color) !important;
    border-color: #007bff;
}

.content-gap {
    margin-top: 10rem;
}

.inner-shadow {
    box-shadow: var(--inner-shadow);
}

.outer-shadow {
    box-shadow: var(--outer-shadow);
}


.nav-item {
    margin-left: 1.5rem !important;
}

nav > div > ul > li > a {
    color: var(--primary-color) !important;
}

.nav-item-active {
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.bg-p {
    background-color: var(--bg-color-primary);
}


/*
CTA BUTTONS
 */

.cta-btn-1 {
    transition: all 1s ease;
    padding: 10px 25px;
    border-radius: 30px;
    margin-top: 1rem;
    color: white !important;
    font-size: 1.4rem;
    background: linear-gradient(90deg, var(--gradient-secondary-one), var(--gradient-secondary-two));
}

.cta-btn-1:hover {
    cursor: pointer;
    box-shadow: 0 0 0 3px #000000;
    transition: all 1s ease;
}


.cta-btn-2 {
    transition: all 1s ease;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 30px;
    color: white !important;
    font-size: 1.4rem;
    margin-top: 1rem;
    background: linear-gradient(90deg, var(--gradient-primary-one), var(--gradient-primary-two));
}

.cta-btn-2:hover {
    cursor: pointer;
    box-shadow: 0 0 0 3px #000000;
    transition: all 1s ease;
}

/*
END CTA BUTTONS
 */


/*
IMAGES
 */

.img-box {
    padding: 15px;
    border-radius: 5px;
}

.img-box img {
    width: 100%;
    border: 10px solid transparent;
    border-radius: 5px;
}

/*
END IMAGES
 */


/*
FONTS
 */

@font-face {
    font-family: font;
    src: url('../assets/fonts/geometria-cufonfonts/Geometria-Medium.ttf');
}

/*
END FONTS
 */


/*
FOOTER
 */

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.icon {
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
}

/*
END FOOTER
 */


/* BREAK POINTS */

@media screen and (max-width: 991px) {

    #about-section {
        margin-top: 8rem;
    }
}

@media screen and (max-width: 767px) {
    input, textarea {
        width: 100%;
    }

    #about-section {
        margin-top: 10rem !important;
    }

    #msg-img {
        display: none;
    }

    #id_email_signup {
        margin-bottom: 1rem;
    }

    .event-card-container {
        margin-bottom: 3rem;
    }

    .stat:hover {
        cursor: pointer;
        margin: 1.5rem 0 !important;
        box-shadow: 0 0.4em 0.5em rgb(0, 0, 0.8);
    }


}

@media screen and (max-width: 1800px) {
    .container-fluid{
        max-width:  1500px !important;
    }
}
@media screen and (max-width: 1600px) {
    .container-fluid{
        max-width:  1300px !important;
    }
}

@media screen and (max-width: 266px) {
    #send-container {
        width: 100%
    }
}

/* END BREAK POINTS */