/*
GENERAL
 */
:root {
    --primary-color: #040456;
    --secondary-color: #FFFFFFFF;
    --gradient-primary-one: #2c7ee4;
    --gradient-primary-two: #2db6ee;
    --gradient-secondary-one: #fd5288;
    --gradient-secondary-two: #ee886c;
    --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
    --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
    --form-input-bg: #e8e8ec
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

input, textarea {
    /*width: 100%;*/
    display: block;
    border-radius: 30px;
    background-color: var(--form-input-bg);
    border: none;
    padding: 5px 5px 5px 10px;
}

html {
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html > body {
    margin: 0;
    padding: 0;
    font-family: 'font', sans-serif;
    overflow-x: hidden;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}


::before, ::after {
    box-sizing: border-box;
}


a {
    text-decoration: none;
}


p {
    line-height: 2;
    overflow-wrap: break-word;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color) !important;
    border-color: #007bff;
}

.container-fluid {
    max-width: 1600px;
}

.content-gap {
    margin-top: 10rem;
}

.inner-shadow {
    box-shadow: var(--inner-shadow);
}


.outer-shadow {
    box-shadow: var(--outer-shadow);
}

/*
END GENERAL
 */


/*
NAV
 */

.nav-item {
    margin-left: 1.5rem !important;
}

.nav-item-active {
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

/*
END NAV
 */


/*
CTA BUTTONS
 */

.cta-btn-1 {
    transition: all 1s ease;
    padding: 10px 25px;
    border-radius: 30px;
    margin-top: 1rem;
    color: white !important;
    font-size: 1.4rem;
    background: linear-gradient(90deg, var(--gradient-secondary-one), var(--gradient-secondary-two));
}

.cta-btn-1:hover {
    cursor: pointer;
    box-shadow: 0 0 0 3px #000000;
    transition: all 1s ease;
}


.cta-btn-2 {
    transition: all 1s ease;
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 30px;
    color: white !important;
    font-size: 1.4rem;
    margin-top: 1rem;
    background: linear-gradient(90deg, var(--gradient-primary-one), var(--gradient-primary-two));
}

.cta-btn-2:hover {
    cursor: pointer;
    box-shadow: 0 0 0 3px #000000;
    transition: all 1s ease;
}

/*
END CTA BUTTONS
 */


/*
LANDING PAGE
 */


#landing-bg {
    background-color: #ffffff;
}

#id_email_signup {
    width: 100%;
    border-radius: 5px;
    padding: 7px;
}

#wave-landing-container {
    display: inline-block;
}

.title {
    line-height: 1.5 !important;
    color: black;
    font-size: 3rem;
    font-weight: bolder;
}

.subtitle {
    color: #105ffa;
}

#landing-text {
    margin-top: 9rem;
    text-align: left;
    margin-bottom: 2rem;
}


#working {
    position: absolute;
    margin-left: 500px;
    margin-top: 100px;
}

/*
END LANDING PAGE
 */


/* STATISTICS */

.stat {
    background: #fff;
    height: 6em;
    padding: 1em;
    margin: 1.5rem 0;
    transition: margin 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 0.2em 0.4em rgb(0, 0, 0.8);
}

.stat:hover {
    cursor: pointer;
    margin-top: 0.5rem;
    box-shadow: 0 0.4em 0.5em rgb(0, 0, 0.8);
}

.stat i {
    font-size: 3.5em;
}


.stat div b {
    font-size: 2.2em;
    padding-top: 0;
    margin-top: -0.2em;
    margin-bottom: -0.2em;
    display: block;
}

.stat.bg-primary {
    background: var(--primary-color) !important;
    color: white;
}

/* END STATISTICS */

/*
IMAGES
 */

.img-box {
    padding: 15px;
    border-radius: 5px;
}

.img-box img {
    width: 100%;
    border: 10px solid transparent;
    border-radius: 5px;
}

/*
END IMAGES
 */


/*


/*
FONTS
 */

@font-face {
    font-family: font;
    src: url('../assets/fonts/geometria-cufonfonts/Geometria-Medium.ttf');
}

/*
END FONTS
 */

/*
DOT DECORATION
 */
.dot {
    animation: MoveUpDown 2s linear infinite;
    position: relative;
    left: 0;
    bottom: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}

.grid-container {
    grid-template-columns: auto auto auto;
    display: inline-grid;
    margin-top: 5rem;
}

@keyframes MoveUpDown {
    0%, 100% {
        bottom: 0;
    }
    50% {
        bottom: 20px;
    }
}

.dot-container {
    padding: 3px;
}

/*
END DOT DECORATION
 */


/*
CONTACT FORM
 */

/* send button */

#lnch {
    font-size: 18px;
    color: #fff;
    line-height: 1;
    padding: 20px 25px;
    text-align: center;
    border-radius: 50px;
    transition: 0.5s ease background-color, 0.5s ease box-shadow;
    background: var(--primary-color);
}

#lnch_btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    padding: 18px 12px;
    cursor: pointer;
    transition: 0.3s ease transform;
}

#lnch.launching {
    background-color: #f39c12;
    box-shadow: 0 20px 30px -6px #f39c12;
}

#lnch_btn.launching {
    transform: rotateZ(-90deg);
    animation: shake 0.3s ease 0.5s infinite;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0) rotateZ(-90deg);
    }
    20%,
    80% {
        transform: translate3d(1px, 0, 0) rotateZ(-90deg);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-1px, 0, 0) rotateZ(-90deg);
    }
    40%,
    60% {
        transform: translate3d(1px, 0, 0) rotateZ(-90deg);
    }
}

#lnch.launched {
    background-color: #27ae60;
    box-shadow: 0 20px 30px -6px #27ae60;
}

#lnch_btn.launched {
    transform: rotateZ(-90deg);
    animation: moveUp 1s ease 0s forwards;
}

@keyframes moveUp {
    0% {
        margin-top: 0;
        transform: scale(1) rotateZ(-90deg);
    }
    100% {
        color: #ff1f5a;
        margin-top: -100px;
        transform: scale(0) rotateZ(-90deg);
    }
}

#send-container {
    margin-top: 2rem;
    position: relative;
    width: 250px;
}

/* end send button */


#contact-header {
    margin-bottom: 2rem;
}

#contact-title {
    color: var(--primary-color);
    font-weight: bolder;
}

/*
END CONTACT FORM
 */


/*
FOOTER
 */

footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.socials {
    margin-bottom: 1rem;
}

.icon {
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
}

/*
END FOOTER
 */


/* PROFILE CARD */

.thumb-lg {
    height: 200px;
    width: 200px;
}

.lh-1 {
    line-height: 1.5 !important;
}

.more {
    display: none;
}

/* END PROFILE CARD */


/* ABOUT TABS */

#offers {
    margin-top: 7rem;
    border-radius: 0.3rem;
}

/* END ABOUT TABS */


/* DECORATIONS */

/*.circle-decoration {
    z-index: -1;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
}
 */

/* END DECORATIONS */


/* EVENTS */

.event-card{
    margin: auto;
}

.event-card-last{
    margin: auto;
}

/* END EVENTS */


/* BREAK POINTS */

@media screen and (max-width: 991px) {
    #landing-text {
        margin-top: 5rem
    }

    #wave-landing-container {
        display: none;
    }

    #about-section {
        margin-top: 8rem;
    }
}

@media screen and (max-width: 767px) {
    input, textarea {
        width: 100%;
    }

    #msg-img {
        display: none;
    }

    #id_email_signup {
        margin-bottom: 1rem;
    }

    .event-card{
        margin-bottom: 3rem;
    }

    .stat:hover{
        cursor: pointer;
        margin: 1.5rem 0 ;
        box-shadow: 0 0.2em 0.4em rgb(0, 0, 0.8);
    }
}

@media screen and (max-width: 266px) {
    #send-container {
        width: 100%
    }
}

/* END BREAK POINTS */
