body {
    background: #f2f2f2;
}

.success {
    border: 1px solid #f2f2f2;
    border-radius: 20px;
    background: #fff;
}

.success_header {
    padding: 20px;
    border-radius: 20px 20px 0 0;

}

.check {
    margin: 0px auto;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #fff;
    text-align: center;
}

.check i {
    vertical-align: middle;
    line-height: 50px;
    font-size: 30px;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 25px;
    padding-top: 25px;
}

.content a {
    width: 200px;
    height: 35px;
    color: #fff;
    border-radius: 30px;
    padding: 5px 10px;
    background: rgba(255, 102, 0, 1);
    transition: all ease-in-out 0.3s;
}

.content a:hover {
    text-decoration: none;
    background: #000;
}