{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'boilerplate/bootstrap.html' %}

        <link rel="stylesheet" href="{% static "css/style.css" %}"/>


        <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/logo-small-transparent.png' %}"/>
        <script src='https://www.google.com/recaptcha/api.js'></script>


        <script src="https://kit.fontawesome.com/a76f8913d2.js" crossorigin="anonymous"></script>

        <title>Interniac</title>
        <meta name="description" content="Given how competitive college admissions are and how often the average American college student changes majors due to career confusion, getting a high school internship is more valuable than ever before. However, pre-college work experience is challenging to come by and oftentimes opportunities are given to students who have strong networks (either through a parent or their school). Interniac fills the gap in our education system by simplifying the process for employers to start internship programs and source candidates who are eager to gain valuable out-of-the-classroom work experience. ">
        <meta name="keywords" content="interniac, internships, high school internships">
        <meta name="author" content="Christian Stefaniw">
        <link rel="canonical" href="http://interniac.org">

    </head>

    <body>
        <section id="nav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img width=200 height="50" src="{% static "assets/images/logos/logo-transparent.png" %}" alt="logo"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item nav-item-active">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'careers' %}">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'marketplace' %}">Marketplace</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="{{ user.get_absolute_url }}">Account</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
        
        <div class="landing-padding home-container">
            <section id="landing">
                <div class="row">
                    <div class="col-md-5">
                        <div id="landing-text">
                            <p class="secondary mb-2">
                                A Marketplace For Internships: For Students, By Students.
                            </p>
                            <h1 class="title">
                                Jumpstart your career with Interniac
                            </h1>

                        </div>
                        <div>
                            <form method="post" id="email_signup">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-7">
                                        {{ newsletter_form.email_signup }}
                                    </div>
                                    <div class="col-md-5">
                                        <button type="submit" class="btn btn-primary">Sign up!</button>
                                    </div>
                                </div>
                            </form>

                            <p class="text-muted">Sign up for our newsletter</p>
                            <img width="25%" class="position-absolute send-back spin mt-5"
                                 src="{% static 'assets/decorations/blob-bg-primary.svg' %}"
                                 alt=""/>
                        </div>
                    </div>
                    <div class="col-md-7" id="img-landing-container">
                        <div class="text-center">
                            <img width="10%" class="position-absolute send-back spin"
                                 src="{% static 'assets/decorations/blob-bg-secondary.svg' %}" alt=""/>
                            <img width="65%" class="text-center" src="{% static "assets/images/landing-img.svg" %}"
                                 alt="logo"/>
                            <img width="10%" class="position-absolute send-back spin"
                                 src="{% static 'assets/decorations/blob-primary.svg' %}" alt=""/>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="home-container">

            <section class="mt-0" id="about-section">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="inner-shadow img-box">
                            <img class="outer-shadow" src="{% static "assets/images/working.svg" %}" alt="intern photo"/>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <h1 class="font-weight-bold">It Shouldn't Be That Hard To Get Work Experience</h1>
                        <p>
                            Given how competitive college admissions are and how often the average American college student changes majors due to
                            career confusion, getting a high school internship is more valuable than ever before. However, pre-college work experience
                            is challenging to come by and oftentimes opportunities are given to students who have strong networks (either through a parent
                            or their school). Interniac fills the gap in our education system by simplifying the process for employers to start internship
                            programs and source candidates who are eager to gain valuable out-of-the-classroom work experience.
                        </p>
                        <div class="text-right" style="width: 85%">
                            <img width="10%" class="position-absolute send-back spin-counter" src="{% static 'assets/decorations/blob-bg-primary-dark.svg' %}"
             alt=""/>
                        </div>
                    </div>
                </div>
            </section>
            <img width="10%" class="position-absolute send-back spin" src="{% static 'assets/decorations/blob-bg-secondary.svg' %}" alt=""/>

            <div class="content-gap"></div>

            <section id="events">
                <h1 class="text-center font-weight-bold mb-4">Upcoming Events</h1>
                <div class="row">
                    {% for event in events %}
                        <div class="col-md-3 {% if forloop.last %} event-card-container-last {% else %} event-card-container {% endif %}">
                            <div class="card light-outer-shadow" style="border-radius: calc(0.25rem - 1px);">
                                <img width="400" height="300" class="card-img-top event-img" src="{{ event.img.url }}" alt="{{ event.img.url }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ event.name }}</h5>
                                    <p class="card-text text-muted">{{ event.description|truncatechars:300}}
                                        {% if event.description|length > 300 %}
                                            <a target="noopener noreferre" href="{% url 'read_more' pk=event.id %}">read more</a>
                                        {% endif %}
                                    </p>
                                    <a target="noopener noreferre" href="{{ event.meet_url }}" class="btn btn-outline-primary w-100">Register</a>
                                    <p class="text-center mt-2">
                                        {{ event.datetime.date }}
                                        <br>
                                        {{ event.datetime.time }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <h4 class="m-auto text-muted text-center">There are no upcoming events at this time</h4>
                    {% endfor %}
                    </div>
            </section>

            <div class="w-75">
                <div class="text-right">
                    <img width="7%" class="position-absolute send-back spin" src="{% static 'assets/decorations/blob-highlight.svg' %}" alt=""/>
                </div>
            </div>


            <div class="content-gap"></div>

            <section id="stats" class="mb-4">
                <h1 class="text-center font-weight-bold">Statistics</h1>
                <div class="row">
                    <div class="col-md-6">
                        <div class="stat bootstrap-bg">
                            <i class="icon-exclamation icons"></i>
                            <div class="text-center">
                                <b>{{ students }}</b>
                                <span>Students</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="stat bootstrap-bg">
                            <i class="icon-exclamation icons"></i>
                            <div class="text-center">
                                <b>{{ employers }}</b>
                                <span>Employers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <div class="content-gap"></div>

            <section id="contact">
                <div id="contact-header">
                    <h1 id="contact-title">Let's Talk</h1>
                    <p class="text-muted">Want to get in touch? We'd love to hear from you, please fill out <br> the form and we'll get back to you promptly.</p>
                    <img width="7%" class="position-absolute send-back spin-counter"
                 src="{% static 'assets/decorations/blob-bg-primary.svg' %}" alt=""/>
                </div>
                <div class="row justify-content-between">
                    <div class="col-md-4">
                        <form method="post" id="contact">
                            {% csrf_token %}
                            {{ contact_form.as_p }}

                            <div id="send-container">
                              <div id="lnch">Send Message</div>
                              <div onClick="document.forms[1].submit();" id="lnch_btn"><i class="fas fa-space-shuttle"></i></div>
                            </div>
                        </form>
                        <div class="text-center">
                            <img width="15%" class="position-absolute send-back spin" src="{% static 'assets/decorations/blob-secondary.svg' %}" alt=""/>
                        </div>

                    </div>

                    <div id="msg-img" class="col-md-6">
                        <img width="100%" src="{% static 'assets/images/message.svg' %}" alt="message"/>
                        <div class="text-center">
                            <img width="15%" class="send-back spin" src="{% static 'assets/decorations/blob-bg-secondary.svg' %}" alt=""/>
                        </div>

                    </div>
                </div>
            </section>
        </div>


        <!--
        <section>
            <div id="background-wrap">
                <div class="bubble x1"></div>
                <div class="bubble x2"></div>
                <div class="bubble x3"></div>
                <div class="bubble x4"></div>
                <div class="bubble x5"></div>
            </div>
        </section>
        -->


        <div class="content-gap"></div>

        <section>
            {% include 'boilerplate/footer.html' %}
        </section>

        <script src="{% static 'js/script.js' %}"></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    </body>
</html>