<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:italic;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:10.1px;color:rgb(161,161,161);font-weight:normal;font-style:italic;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:10.1px;color:rgb(161,161,161);font-weight:normal;font-style:italic;text-decoration: none}
-->
</style>
<script type="text/javascript" src="3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_id_3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-306px;top:0px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_id_3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_files/background1.jpg" width=612 height=792></div>
<div style="position:absolute;left:248.99px;top:71.41px" class="cls_003"><span class="cls_003">Terms & Conditions</span></div>
<div style="position:absolute;left:224.29px;top:100.73px" class="cls_004"><span class="cls_004">Effective Date: May 31st, 2021</span></div>
<div style="position:absolute;left:234.97px;top:129.98px" class="cls_005"><span class="cls_005">Site Covered: interniac.org</span></div>
<div style="position:absolute;left:70.87px;top:175.45px" class="cls_003"><span class="cls_003">THE AGREEMENT:</span><span class="cls_004"> The use of this website and services on this website provided by</span></div>
<div style="position:absolute;left:70.87px;top:191.33px" class="cls_004"><span class="cls_004">Interniac (hereinafter referred to as "Company") are subject to the following Terms &</span></div>
<div style="position:absolute;left:70.87px;top:207.14px" class="cls_004"><span class="cls_004">Conditions (hereinafter the "Agreement"), all parts and sub-parts of which are</span></div>
<div style="position:absolute;left:70.87px;top:222.96px" class="cls_004"><span class="cls_004">specifically incorporated by reference here. This Agreement shall govern the use of all</span></div>
<div style="position:absolute;left:70.87px;top:238.77px" class="cls_004"><span class="cls_004">pages on this website (hereinafter collectively referred to as "Website") and any services</span></div>
<div style="position:absolute;left:70.87px;top:254.59px" class="cls_004"><span class="cls_004">provided by or on this Website ("Services").</span></div>
<div style="position:absolute;left:70.87px;top:300.05px" class="cls_003"><span class="cls_003">1) DEFINITIONS</span></div>
<div style="position:absolute;left:70.87px;top:329.37px" class="cls_004"><span class="cls_004">The parties referred to in this Agreement shall be defined as follows:</span></div>
<div style="position:absolute;left:93.37px;top:358.63px" class="cls_004"><span class="cls_004">a) Company, Us, We: The Company, as the creator, operator, and publisher of the</span></div>
<div style="position:absolute;left:93.37px;top:374.44px" class="cls_004"><span class="cls_004">Website, makes the Website, and certain Services on it, available to users.</span></div>
<div style="position:absolute;left:93.37px;top:390.26px" class="cls_004"><span class="cls_004">Interniac, Company, Us, We, Our, Ours and other first-person pronouns will refer to</span></div>
<div style="position:absolute;left:93.37px;top:406.07px" class="cls_004"><span class="cls_004">the Company, as well as all employees and affiliates of the Company.</span></div>
<div style="position:absolute;left:93.37px;top:435.32px" class="cls_004"><span class="cls_004">b) You, the User, the Client: You, as the user of the Website, will be referred to</span></div>
<div style="position:absolute;left:93.37px;top:451.14px" class="cls_004"><span class="cls_004">throughout this Agreement with second-person pronouns such as You, Your, Yours,</span></div>
<div style="position:absolute;left:93.37px;top:466.95px" class="cls_004"><span class="cls_004">or as User or Client.</span></div>
<div style="position:absolute;left:93.37px;top:496.21px" class="cls_004"><span class="cls_004">c) Parties: Collectively, the parties to this Agreement (the Company and You) will be</span></div>
<div style="position:absolute;left:93.37px;top:512.02px" class="cls_004"><span class="cls_004">referred to as Parties.</span></div>
<div style="position:absolute;left:70.87px;top:557.49px" class="cls_003"><span class="cls_003">2) ASSENT & ACCEPTANCE</span></div>
<div style="position:absolute;left:70.87px;top:586.81px" class="cls_004"><span class="cls_004">By using the Website, You warrant that You have read and reviewed this Agreement</span></div>
<div style="position:absolute;left:70.87px;top:602.62px" class="cls_004"><span class="cls_004">and that You agree to be bound by it. If You do not agree to be bound by this</span></div>
<div style="position:absolute;left:70.87px;top:618.44px" class="cls_004"><span class="cls_004">Agreement, please leave the Website immediately. The Company only agrees to provide</span></div>
<div style="position:absolute;left:70.87px;top:634.25px" class="cls_004"><span class="cls_004">use of this Website and Services to You if You assent to this Agreement.</span></div>
<div style="position:absolute;left:70.87px;top:679.72px" class="cls_003"><span class="cls_003">3) LICENSE TO USE WEBSITE</span></div>
<div style="position:absolute;left:527.23px;top:754.02px" class="cls_002"><span class="cls_002">1/9</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:802px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_id_3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_files/background2.jpg" width=612 height=792></div>
<div style="position:absolute;left:70.87px;top:71.01px" class="cls_004"><span class="cls_004">The Company may provide You with certain information as a result of Your use of the</span></div>
<div style="position:absolute;left:70.87px;top:86.82px" class="cls_004"><span class="cls_004">Website or Services. Such information may include, but is not limited to, documentation,</span></div>
<div style="position:absolute;left:70.87px;top:102.64px" class="cls_004"><span class="cls_004">data, or information developed by the Company, and other materials which may assist in</span></div>
<div style="position:absolute;left:70.87px;top:118.45px" class="cls_004"><span class="cls_004">Your use of the Website or Services ("Company Materials"). Subject to this Agreement,</span></div>
<div style="position:absolute;left:70.87px;top:134.27px" class="cls_004"><span class="cls_004">the Company grants You a non-exclusive, limited, non-transferable and revocable</span></div>
<div style="position:absolute;left:70.87px;top:150.08px" class="cls_004"><span class="cls_004">license to use the Company Materials solely in connection with Your use of the Website</span></div>
<div style="position:absolute;left:70.87px;top:165.89px" class="cls_004"><span class="cls_004">and Services. The Company Materials may not be used for any other purpose, and this</span></div>
<div style="position:absolute;left:70.87px;top:181.71px" class="cls_004"><span class="cls_004">license terminates upon Your cessation of use of the Website or Services or at the</span></div>
<div style="position:absolute;left:70.87px;top:197.52px" class="cls_004"><span class="cls_004">termination of this Agreement.</span></div>
<div style="position:absolute;left:70.87px;top:242.99px" class="cls_003"><span class="cls_003">4) INTELLECTUAL PROPERTY</span></div>
<div style="position:absolute;left:70.87px;top:272.31px" class="cls_004"><span class="cls_004">You agree that the Website and all Services provided by the Company are the property</span></div>
<div style="position:absolute;left:70.87px;top:288.12px" class="cls_004"><span class="cls_004">of the Company, including all copyrights, trademarks, trade secrets, patents, and other</span></div>
<div style="position:absolute;left:70.87px;top:303.94px" class="cls_004"><span class="cls_004">intellectual property ("Company IP"). You agree that the Company owns all right, title</span></div>
<div style="position:absolute;left:70.87px;top:319.75px" class="cls_004"><span class="cls_004">and interest in and to the Company IP and that You will not use the Company IP for any</span></div>
<div style="position:absolute;left:70.87px;top:335.57px" class="cls_004"><span class="cls_004">unlawful or infringing purpose. You agree not to reproduce or distribute the Company IP</span></div>
<div style="position:absolute;left:70.87px;top:351.38px" class="cls_004"><span class="cls_004">in any way, including electronically or via registration of any new trademarks, trade</span></div>
<div style="position:absolute;left:70.87px;top:367.19px" class="cls_004"><span class="cls_004">names, service marks or Uniform Resource Locators (URLs), without express written</span></div>
<div style="position:absolute;left:70.87px;top:383.01px" class="cls_004"><span class="cls_004">permission from the Company.</span></div>
<div style="position:absolute;left:93.37px;top:412.26px" class="cls_004"><span class="cls_004">a) In order to make the Website and Services available to You, You hereby grant</span></div>
<div style="position:absolute;left:93.37px;top:428.08px" class="cls_004"><span class="cls_004">the Company a royalty-free, non-exclusive, worldwide license to copy, display, use,</span></div>
<div style="position:absolute;left:93.37px;top:443.89px" class="cls_004"><span class="cls_004">broadcast, transmit and make derivative works of any content You publish, upload,</span></div>
<div style="position:absolute;left:93.37px;top:459.70px" class="cls_004"><span class="cls_004">or otherwise make available to the Website ("Your Content"). The Company claims</span></div>
<div style="position:absolute;left:93.37px;top:475.52px" class="cls_004"><span class="cls_004">no further proprietary rights in Your Content.</span></div>
<div style="position:absolute;left:93.37px;top:504.77px" class="cls_004"><span class="cls_004">b) If You feel that any of Your intellectual property rights have been infringed or</span></div>
<div style="position:absolute;left:93.37px;top:520.59px" class="cls_004"><span class="cls_004">otherwise violated by the posting of information or media by another of Our users,</span></div>
<div style="position:absolute;left:93.37px;top:536.40px" class="cls_004"><span class="cls_004">please contact Us and let Us know.</span></div>
<div style="position:absolute;left:70.87px;top:582.33px" class="cls_003"><span class="cls_003">5) USER OBLIGATIONS</span></div>
<div style="position:absolute;left:70.87px;top:611.65px" class="cls_004"><span class="cls_004">As a user of the Website or Services, You may be asked to register with Us. When You</span></div>
<div style="position:absolute;left:70.87px;top:627.47px" class="cls_004"><span class="cls_004">do so, You will choose a user identifier, which may be Your email address or another</span></div>
<div style="position:absolute;left:70.87px;top:643.28px" class="cls_004"><span class="cls_004">term, as well as a password. You may also provide personal information, including, but</span></div>
<div style="position:absolute;left:70.87px;top:659.09px" class="cls_004"><span class="cls_004">not limited to, Your name. You are responsible for ensuring the accuracy of this</span></div>
<div style="position:absolute;left:70.87px;top:674.91px" class="cls_004"><span class="cls_004">information. This identifying information will enable You to use the Website and</span></div>
<div style="position:absolute;left:70.87px;top:690.72px" class="cls_004"><span class="cls_004">Services. You must not share such identifying information with any third party, and if You</span></div>
<div style="position:absolute;left:527.23px;top:754.02px" class="cls_002"><span class="cls_002">2/9</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:1604px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_id_3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_files/background3.jpg" width=612 height=792></div>
<div style="position:absolute;left:70.87px;top:71.01px" class="cls_004"><span class="cls_004">discover that Your identifying information has been compromised, You agree to notify Us</span></div>
<div style="position:absolute;left:70.87px;top:86.82px" class="cls_004"><span class="cls_004">immediately in writing. Email notification will suffice. You are responsible for maintaining</span></div>
<div style="position:absolute;left:70.87px;top:102.64px" class="cls_004"><span class="cls_004">the safety and security of Your identifying information as well as keeping Us apprised of</span></div>
<div style="position:absolute;left:70.87px;top:118.45px" class="cls_004"><span class="cls_004">any changes to Your identifying information. Providing false or inaccurate information, or</span></div>
<div style="position:absolute;left:70.87px;top:134.27px" class="cls_004"><span class="cls_004">using the Website or Services to further fraud or unlawful activity is grounds for</span></div>
<div style="position:absolute;left:70.87px;top:150.08px" class="cls_004"><span class="cls_004">immediate termination of this Agreement.</span></div>
<div style="position:absolute;left:70.87px;top:195.55px" class="cls_003"><span class="cls_003">6) ACCEPTABLE USE</span></div>
<div style="position:absolute;left:70.87px;top:224.87px" class="cls_004"><span class="cls_004">You agree not to use the Website or Services for any unlawful purpose or any purpose</span></div>
<div style="position:absolute;left:70.87px;top:240.68px" class="cls_004"><span class="cls_004">prohibited under this clause. You agree not to use the Website or Services in any way</span></div>
<div style="position:absolute;left:70.87px;top:256.49px" class="cls_004"><span class="cls_004">that could damage the Website, Services, or general business of the Company.</span></div>
<div style="position:absolute;left:93.37px;top:285.75px" class="cls_004"><span class="cls_004">a) You further agree not to use the Website or Services:</span></div>
<div style="position:absolute;left:115.87px;top:315.00px" class="cls_004"><span class="cls_004">I) To harass, abuse, or threaten others or otherwise violate any person's legal</span></div>
<div style="position:absolute;left:115.87px;top:330.82px" class="cls_004"><span class="cls_004">rights;</span></div>
<div style="position:absolute;left:115.87px;top:360.07px" class="cls_004"><span class="cls_004">II) To violate any intellectual property rights of the Company or any third party;</span></div>
<div style="position:absolute;left:115.87px;top:389.33px" class="cls_004"><span class="cls_004">III) To upload or otherwise disseminate any computer viruses or other software</span></div>
<div style="position:absolute;left:115.87px;top:405.14px" class="cls_004"><span class="cls_004">that may damage the property of another;</span></div>
<div style="position:absolute;left:115.87px;top:434.39px" class="cls_004"><span class="cls_004">IV) To perpetrate any fraud;</span></div>
<div style="position:absolute;left:115.87px;top:463.65px" class="cls_004"><span class="cls_004">V) To engage in or create any unlawful gambling, sweepstakes, or pyramid</span></div>
<div style="position:absolute;left:115.87px;top:479.46px" class="cls_004"><span class="cls_004">scheme;</span></div>
<div style="position:absolute;left:115.87px;top:508.72px" class="cls_004"><span class="cls_004">VI) To publish or distribute any obscene or defamatory material;</span></div>
<div style="position:absolute;left:115.87px;top:537.97px" class="cls_004"><span class="cls_004">VII) To publish or distribute any material that incites violence, hate, or</span></div>
<div style="position:absolute;left:115.87px;top:553.78px" class="cls_004"><span class="cls_004">discrimination towards any group;</span></div>
<div style="position:absolute;left:115.87px;top:583.04px" class="cls_004"><span class="cls_004">VIII) To unlawfully gather information about others.</span></div>
<div style="position:absolute;left:70.87px;top:628.51px" class="cls_003"><span class="cls_003">7) AFFILIATE MARKETING & ADVERTISING</span></div>
<div style="position:absolute;left:70.87px;top:657.83px" class="cls_004"><span class="cls_004">The Company, through the Website and Services, may engage in affiliate marketing</span></div>
<div style="position:absolute;left:70.87px;top:673.64px" class="cls_004"><span class="cls_004">whereby the Company receives a commission on or percentage of the sale of goods or</span></div>
<div style="position:absolute;left:70.87px;top:689.45px" class="cls_004"><span class="cls_004">services on or through the Website. The Company may also accept advertising and</span></div>
<div style="position:absolute;left:70.87px;top:705.27px" class="cls_004"><span class="cls_004">sponsorships from commercial businesses or receive other forms of advertising</span></div>
<div style="position:absolute;left:527.23px;top:754.02px" class="cls_002"><span class="cls_002">3/9</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:2406px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_id_3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_files/background4.jpg" width=612 height=792></div>
<div style="position:absolute;left:70.87px;top:71.01px" class="cls_004"><span class="cls_004">compensation. This disclosure is intended to comply with the US Federal Trade</span></div>
<div style="position:absolute;left:70.87px;top:86.82px" class="cls_004"><span class="cls_004">Commission Rules on marketing and advertising, as well as any other legal</span></div>
<div style="position:absolute;left:70.87px;top:102.64px" class="cls_004"><span class="cls_004">requirements which may apply.</span></div>
<div style="position:absolute;left:70.87px;top:148.11px" class="cls_003"><span class="cls_003">8) PRIVACY INFORMATION</span></div>
<div style="position:absolute;left:70.87px;top:177.43px" class="cls_004"><span class="cls_004">Through Your Use of the Website and Services, You may provide Us with certain</span></div>
<div style="position:absolute;left:70.87px;top:193.24px" class="cls_004"><span class="cls_004">information. By using the Website or the Services, You authorize the Company to use</span></div>
<div style="position:absolute;left:70.87px;top:209.05px" class="cls_004"><span class="cls_004">Your information in the United States and any other country where We may operate.</span></div>
<div style="position:absolute;left:93.37px;top:238.31px" class="cls_004"><span class="cls_004">a) Information We May Collect or Receive: When You register for an account, You</span></div>
<div style="position:absolute;left:93.37px;top:254.12px" class="cls_004"><span class="cls_004">provide Us with a valid email address and may provide Us with additional</span></div>
<div style="position:absolute;left:93.37px;top:269.93px" class="cls_004"><span class="cls_004">information, such as Your name or billing information. Depending on how You use</span></div>
<div style="position:absolute;left:93.37px;top:285.75px" class="cls_004"><span class="cls_004">Our Website or Services, We may also receive information from external</span></div>
<div style="position:absolute;left:93.37px;top:301.56px" class="cls_004"><span class="cls_004">applications that You use to access Our Website, or We may receive information</span></div>
<div style="position:absolute;left:93.37px;top:317.38px" class="cls_004"><span class="cls_004">through various web technologies, such as cookies, log files, clear gifs, web</span></div>
<div style="position:absolute;left:93.37px;top:333.19px" class="cls_004"><span class="cls_004">beacons or others.</span></div>
<div style="position:absolute;left:93.37px;top:362.45px" class="cls_004"><span class="cls_004">b) How We Use Information: We use the information gathered from You to ensure</span></div>
<div style="position:absolute;left:93.37px;top:378.26px" class="cls_004"><span class="cls_004">Your continued good experience on Our website, including through email</span></div>
<div style="position:absolute;left:93.37px;top:394.07px" class="cls_004"><span class="cls_004">communication. We may also track certain aspects of the passive information</span></div>
<div style="position:absolute;left:93.37px;top:409.89px" class="cls_004"><span class="cls_004">received to improve Our marketing and analytics, and for this, We may work with</span></div>
<div style="position:absolute;left:93.37px;top:425.70px" class="cls_004"><span class="cls_004">third-party providers.</span></div>
<div style="position:absolute;left:93.37px;top:454.96px" class="cls_004"><span class="cls_004">c) How You Can Protect Your Information: If You would like to disable Our access to</span></div>
<div style="position:absolute;left:93.37px;top:470.77px" class="cls_004"><span class="cls_004">any passive information We receive from the use of various technologies, You may</span></div>
<div style="position:absolute;left:93.37px;top:486.58px" class="cls_004"><span class="cls_004">choose to disable cookies in Your web browser. Please be aware that the Company</span></div>
<div style="position:absolute;left:93.37px;top:502.40px" class="cls_004"><span class="cls_004">will still receive information about You that You have provided, such as Your email</span></div>
<div style="position:absolute;left:93.37px;top:518.21px" class="cls_004"><span class="cls_004">address.</span></div>
<div style="position:absolute;left:70.87px;top:564.15px" class="cls_003"><span class="cls_003">9) REVERSE ENGINEERING & SECURITY</span></div>
<div style="position:absolute;left:70.87px;top:593.47px" class="cls_004"><span class="cls_004">You agree not to undertake any of the following actions:</span></div>
<div style="position:absolute;left:93.37px;top:622.72px" class="cls_004"><span class="cls_004">a) Reverse engineer, or attempt to reverse engineer or disassemble any code or</span></div>
<div style="position:absolute;left:93.37px;top:638.53px" class="cls_004"><span class="cls_004">software from or on the Website or Services;</span></div>
<div style="position:absolute;left:93.37px;top:667.79px" class="cls_004"><span class="cls_004">b) Violate the security of the Website or Services through any unauthorized access,</span></div>
<div style="position:absolute;left:93.37px;top:683.60px" class="cls_004"><span class="cls_004">circumvention of encryption or other security tools, data mining or interference to</span></div>
<div style="position:absolute;left:93.37px;top:699.41px" class="cls_004"><span class="cls_004">any host, user or network.</span></div>
<div style="position:absolute;left:527.23px;top:754.02px" class="cls_002"><span class="cls_002">4/9</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:3208px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_id_3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_files/background5.jpg" width=612 height=792></div>
<div style="position:absolute;left:70.87px;top:71.41px" class="cls_003"><span class="cls_003">10) DATA LOSS</span></div>
<div style="position:absolute;left:70.87px;top:100.73px" class="cls_004"><span class="cls_004">The Company does not accept responsibility for the security of Your account or content.</span></div>
<div style="position:absolute;left:70.87px;top:116.54px" class="cls_004"><span class="cls_004">You agree that Your use of the Website or Services is at Your own risk.</span></div>
<div style="position:absolute;left:70.87px;top:162.01px" class="cls_003"><span class="cls_003">11) INDEMNIFICATION</span></div>
<div style="position:absolute;left:70.87px;top:191.33px" class="cls_004"><span class="cls_004">You agree to defend and indemnify the Company and any of its affiliates (if applicable)</span></div>
<div style="position:absolute;left:70.87px;top:207.14px" class="cls_004"><span class="cls_004">and hold Us harmless against any and all legal claims and demands, including</span></div>
<div style="position:absolute;left:70.87px;top:222.96px" class="cls_004"><span class="cls_004">reasonable attorney's fees, which may arise from or relate to Your use or misuse of the</span></div>
<div style="position:absolute;left:70.87px;top:238.77px" class="cls_004"><span class="cls_004">Website or Services, Your breach of this Agreement, or Your conduct or actions. You</span></div>
<div style="position:absolute;left:70.87px;top:254.59px" class="cls_004"><span class="cls_004">agree that the Company shall be able to select its own legal counsel and may participate</span></div>
<div style="position:absolute;left:70.87px;top:270.40px" class="cls_004"><span class="cls_004">in its own defense, if the Company wishes.</span></div>
<div style="position:absolute;left:70.87px;top:315.87px" class="cls_003"><span class="cls_003">12) SPAM POLICY</span></div>
<div style="position:absolute;left:70.87px;top:345.19px" class="cls_004"><span class="cls_004">You are strictly prohibited from using the Website or any of the Company's Services for</span></div>
<div style="position:absolute;left:70.87px;top:361.00px" class="cls_004"><span class="cls_004">illegal spam activities, including gathering email addresses and personal information</span></div>
<div style="position:absolute;left:70.87px;top:376.82px" class="cls_004"><span class="cls_004">from others or sending any mass commercial emails.</span></div>
<div style="position:absolute;left:70.87px;top:422.28px" class="cls_003"><span class="cls_003">13) THIRD-PARTY LINKS & CONTENT</span></div>
<div style="position:absolute;left:70.87px;top:451.60px" class="cls_004"><span class="cls_004">The Company may occasionally post links to third party websites or other services. You</span></div>
<div style="position:absolute;left:70.87px;top:467.42px" class="cls_004"><span class="cls_004">agree that the Company is not responsible or liable for any loss or damage caused as a</span></div>
<div style="position:absolute;left:70.87px;top:483.23px" class="cls_004"><span class="cls_004">result of Your use of any third party services linked to from Our Website.</span></div>
<div style="position:absolute;left:70.87px;top:528.70px" class="cls_003"><span class="cls_003">14) MODIFICATION & VARIATION</span></div>
<div style="position:absolute;left:70.87px;top:558.02px" class="cls_004"><span class="cls_004">The Company may, from time to time and at any time without notice to You, modify this</span></div>
<div style="position:absolute;left:70.87px;top:573.83px" class="cls_004"><span class="cls_004">Agreement. You agree that the Company has the right to modify this Agreement or</span></div>
<div style="position:absolute;left:70.87px;top:589.65px" class="cls_004"><span class="cls_004">revise anything contained herein. You further agree that all modifications to this</span></div>
<div style="position:absolute;left:70.87px;top:605.46px" class="cls_004"><span class="cls_004">Agreement are in full force and effect immediately upon posting on the Website and that</span></div>
<div style="position:absolute;left:70.87px;top:621.28px" class="cls_004"><span class="cls_004">modifications or variations will replace any prior version of this Agreement, unless prior</span></div>
<div style="position:absolute;left:70.87px;top:637.09px" class="cls_004"><span class="cls_004">versions are specifically referred to or incorporated into the latest modification or</span></div>
<div style="position:absolute;left:70.87px;top:652.90px" class="cls_004"><span class="cls_004">variation of this Agreement.</span></div>
<div style="position:absolute;left:93.37px;top:682.16px" class="cls_004"><span class="cls_004">a) To the extent any part or sub-part of this Agreement is held ineffective or invalid</span></div>
<div style="position:absolute;left:93.37px;top:697.97px" class="cls_004"><span class="cls_004">by any court of law, You agree that the prior, effective version of this Agreement</span></div>
<div style="position:absolute;left:527.23px;top:754.02px" class="cls_002"><span class="cls_002">5/9</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:4010px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_id_3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_files/background6.jpg" width=612 height=792></div>
<div style="position:absolute;left:93.37px;top:71.01px" class="cls_004"><span class="cls_004">shall be considered enforceable and valid to the fullest extent.</span></div>
<div style="position:absolute;left:93.37px;top:100.26px" class="cls_004"><span class="cls_004">b) You agree to routinely monitor this Agreement and refer to the Effective Date</span></div>
<div style="position:absolute;left:93.37px;top:116.08px" class="cls_004"><span class="cls_004">posted at the top of this Agreement to note modifications or variations. You further</span></div>
<div style="position:absolute;left:93.37px;top:131.89px" class="cls_004"><span class="cls_004">agree to clear Your cache when doing so to avoid accessing a prior version of this</span></div>
<div style="position:absolute;left:93.37px;top:147.71px" class="cls_004"><span class="cls_004">Agreement. You agree that Your continued use of the Website after any</span></div>
<div style="position:absolute;left:93.37px;top:163.52px" class="cls_004"><span class="cls_004">modifications to this Agreement is a manifestation of Your continued assent to this</span></div>
<div style="position:absolute;left:93.37px;top:179.33px" class="cls_004"><span class="cls_004">Agreement.</span></div>
<div style="position:absolute;left:93.37px;top:208.59px" class="cls_004"><span class="cls_004">c) In the event that You fail to monitor any modifications to or variations of this</span></div>
<div style="position:absolute;left:93.37px;top:224.40px" class="cls_004"><span class="cls_004">Agreement, You agree that such failure shall be considered an affirmative waiver of</span></div>
<div style="position:absolute;left:93.37px;top:240.22px" class="cls_004"><span class="cls_004">Your right to review the modified Agreement.</span></div>
<div style="position:absolute;left:70.87px;top:285.68px" class="cls_003"><span class="cls_003">15) ENTIRE AGREEMENT</span></div>
<div style="position:absolute;left:70.87px;top:315.00px" class="cls_004"><span class="cls_004">This Agreement constitutes the entire understanding between the Parties with respect to</span></div>
<div style="position:absolute;left:70.87px;top:330.82px" class="cls_004"><span class="cls_004">any and all use of this Website. This Agreement supersedes and replaces all prior or</span></div>
<div style="position:absolute;left:70.87px;top:346.63px" class="cls_004"><span class="cls_004">contemporaneous agreements or understandings, written or oral, regarding the use of</span></div>
<div style="position:absolute;left:70.87px;top:362.45px" class="cls_004"><span class="cls_004">this Website.</span></div>
<div style="position:absolute;left:70.87px;top:407.91px" class="cls_003"><span class="cls_003">16) SERVICE INTERRUPTIONS</span></div>
<div style="position:absolute;left:70.87px;top:437.23px" class="cls_004"><span class="cls_004">The Company may need to interrupt Your access to the Website to perform</span></div>
<div style="position:absolute;left:70.87px;top:453.05px" class="cls_004"><span class="cls_004">maintenance or emergency services on a scheduled or unscheduled basis. You agree</span></div>
<div style="position:absolute;left:70.87px;top:468.86px" class="cls_004"><span class="cls_004">that Your access to the Website may be affected by unanticipated or unscheduled</span></div>
<div style="position:absolute;left:70.87px;top:484.67px" class="cls_004"><span class="cls_004">downtime, for any reason, but that the Company shall have no liability for any damage or</span></div>
<div style="position:absolute;left:70.87px;top:500.49px" class="cls_004"><span class="cls_004">loss caused as a result of such downtime.</span></div>
<div style="position:absolute;left:70.87px;top:545.96px" class="cls_003"><span class="cls_003">17) TERM, TERMINATION & SUSPENSION</span></div>
<div style="position:absolute;left:70.87px;top:575.28px" class="cls_004"><span class="cls_004">The Company may terminate this Agreement with You at any time for any reason, with</span></div>
<div style="position:absolute;left:70.87px;top:591.09px" class="cls_004"><span class="cls_004">or without cause. The Company specifically reserves the right to terminate this</span></div>
<div style="position:absolute;left:70.87px;top:606.91px" class="cls_004"><span class="cls_004">Agreement if You violate any of the terms outlined herein, including, but not limited to,</span></div>
<div style="position:absolute;left:70.87px;top:622.72px" class="cls_004"><span class="cls_004">violating the intellectual property rights of the Company or a third party, failing to comply</span></div>
<div style="position:absolute;left:70.87px;top:638.53px" class="cls_004"><span class="cls_004">with applicable laws or other legal obligations, and/or publishing or distributing illegal</span></div>
<div style="position:absolute;left:70.87px;top:654.35px" class="cls_004"><span class="cls_004">material. If You have registered for an account with Us, You may also terminate this</span></div>
<div style="position:absolute;left:70.87px;top:670.16px" class="cls_004"><span class="cls_004">Agreement at any time by contacting Us and requesting termination. At the termination</span></div>
<div style="position:absolute;left:70.87px;top:685.97px" class="cls_004"><span class="cls_004">of this Agreement, any provisions that would be expected to survive termination by their</span></div>
<div style="position:absolute;left:70.87px;top:701.79px" class="cls_004"><span class="cls_004">nature shall remain in full force and effect.</span></div>
<div style="position:absolute;left:527.23px;top:754.02px" class="cls_002"><span class="cls_002">6/9</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:4812px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_id_3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_files/background7.jpg" width=612 height=792></div>
<div style="position:absolute;left:70.87px;top:71.41px" class="cls_003"><span class="cls_003">18) NO WARRANTIES</span></div>
<div style="position:absolute;left:70.87px;top:100.73px" class="cls_004"><span class="cls_004">You agree that Your use of the Website and Services is at Your sole and exclusive risk</span></div>
<div style="position:absolute;left:70.87px;top:116.54px" class="cls_004"><span class="cls_004">and that any Services provided by Us are on an "As Is" basis. The Company hereby</span></div>
<div style="position:absolute;left:70.87px;top:132.36px" class="cls_004"><span class="cls_004">expressly disclaims any and all express or implied warranties of any kind, including, but</span></div>
<div style="position:absolute;left:70.87px;top:148.17px" class="cls_004"><span class="cls_004">not limited to the implied warranty of fitness for a particular purpose and the implied</span></div>
<div style="position:absolute;left:70.87px;top:163.99px" class="cls_004"><span class="cls_004">warranty of merchantability. The Company makes no warranties that the Website or</span></div>
<div style="position:absolute;left:70.87px;top:179.80px" class="cls_004"><span class="cls_004">Services will meet Your needs or that the Website or Services will be uninterrupted,</span></div>
<div style="position:absolute;left:70.87px;top:195.61px" class="cls_004"><span class="cls_004">error-free, or secure. The Company also makes no warranties as to the reliability or</span></div>
<div style="position:absolute;left:70.87px;top:211.43px" class="cls_004"><span class="cls_004">accuracy of any information on the Website or obtained through the Services. You agree</span></div>
<div style="position:absolute;left:70.87px;top:227.24px" class="cls_004"><span class="cls_004">that any damage that may occur to You, through Your computer system, or as a result of</span></div>
<div style="position:absolute;left:70.87px;top:243.05px" class="cls_004"><span class="cls_004">loss of Your data from Your use of the Website or Services is Your sole responsibility</span></div>
<div style="position:absolute;left:70.87px;top:258.87px" class="cls_004"><span class="cls_004">and that the Company is not liable for any such damage or loss.</span></div>
<div style="position:absolute;left:70.87px;top:304.34px" class="cls_003"><span class="cls_003">19) LIMITATION ON LIABILITY</span></div>
<div style="position:absolute;left:70.87px;top:333.66px" class="cls_004"><span class="cls_004">The Company is not liable for any damages that may occur to You as a result of Your</span></div>
<div style="position:absolute;left:70.87px;top:349.47px" class="cls_004"><span class="cls_004">use of the Website or Services, to the fullest extent permitted by law. The maximum</span></div>
<div style="position:absolute;left:70.87px;top:365.29px" class="cls_004"><span class="cls_004">liability of the Company arising from or relating to this Agreement is limited to the greater</span></div>
<div style="position:absolute;left:70.87px;top:381.10px" class="cls_004"><span class="cls_004">of one hundred ($100) US Dollars or the amount You paid to the Company in the last six</span></div>
<div style="position:absolute;left:70.87px;top:396.91px" class="cls_004"><span class="cls_004">(6) months. This section applies to any and all claims by You, including, but not limited</span></div>
<div style="position:absolute;left:70.87px;top:412.73px" class="cls_004"><span class="cls_004">to, lost profits or revenues, consequential or punitive damages, negligence, strict liability,</span></div>
<div style="position:absolute;left:70.87px;top:428.54px" class="cls_004"><span class="cls_004">fraud, or torts of any kind.</span></div>
<div style="position:absolute;left:70.87px;top:474.01px" class="cls_003"><span class="cls_003">20) GENERAL PROVISIONS:</span></div>
<div style="position:absolute;left:93.37px;top:503.73px" class="cls_003"><span class="cls_003">a) LANGUAGE:</span><span class="cls_004"> All communications made or notices given pursuant to this</span></div>
<div style="position:absolute;left:93.37px;top:519.61px" class="cls_004"><span class="cls_004">Agreement shall be in the English language.</span></div>
<div style="position:absolute;left:93.37px;top:549.26px" class="cls_003"><span class="cls_003">b) JURISDICTION, VENUE & CHOICE OF LAW:</span><span class="cls_004"> Through Your use of the Website</span></div>
<div style="position:absolute;left:93.37px;top:565.14px" class="cls_004"><span class="cls_004">or Services, You agree that the laws of the State of Michigan shall govern any</span></div>
<div style="position:absolute;left:93.37px;top:580.96px" class="cls_004"><span class="cls_004">matter or dispute relating to or arising out of this Agreement, as well as any dispute</span></div>
<div style="position:absolute;left:93.37px;top:596.77px" class="cls_004"><span class="cls_004">of any kind that may arise between You and the Company, with the exception of its</span></div>
<div style="position:absolute;left:93.37px;top:612.58px" class="cls_004"><span class="cls_004">conflict of law provisions. In case any litigation specifically permitted under this</span></div>
<div style="position:absolute;left:93.37px;top:628.40px" class="cls_004"><span class="cls_004">Agreement is initiated, the Parties agree to submit to the personal jurisdiction of the</span></div>
<div style="position:absolute;left:93.37px;top:644.21px" class="cls_004"><span class="cls_004">state and federal courts of the following county: Oakland County, Michigan. The</span></div>
<div style="position:absolute;left:93.37px;top:660.03px" class="cls_004"><span class="cls_004">Parties agree that this choice of law, venue, and jurisdiction provision is not</span></div>
<div style="position:absolute;left:93.37px;top:675.84px" class="cls_004"><span class="cls_004">permissive, but rather mandatory in nature. You hereby waive the right to any</span></div>
<div style="position:absolute;left:93.37px;top:691.65px" class="cls_004"><span class="cls_004">objection of venue, including assertion of the doctrine of forum non conveniens or</span></div>
<div style="position:absolute;left:527.23px;top:754.02px" class="cls_002"><span class="cls_002">7/9</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:5614px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_id_3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_files/background8.jpg" width=612 height=792></div>
<div style="position:absolute;left:93.37px;top:71.01px" class="cls_004"><span class="cls_004">similar doctrine.</span></div>
<div style="position:absolute;left:93.37px;top:100.66px" class="cls_003"><span class="cls_003">c) ARBITRATION:</span><span class="cls_004"> In case of a dispute between the Parties relating to or arising out</span></div>
<div style="position:absolute;left:93.37px;top:116.54px" class="cls_004"><span class="cls_004">of this Agreement, the Parties shall first attempt to resolve the dispute personally</span></div>
<div style="position:absolute;left:93.37px;top:132.36px" class="cls_004"><span class="cls_004">and in good faith. If these personal resolution attempts fail, the Parties shall then</span></div>
<div style="position:absolute;left:93.37px;top:148.17px" class="cls_004"><span class="cls_004">submit the dispute to binding arbitration. The arbitration shall be conducted in the</span></div>
<div style="position:absolute;left:93.37px;top:163.99px" class="cls_004"><span class="cls_004">following county: Oakland County. The arbitration shall be conducted by a single</span></div>
<div style="position:absolute;left:93.37px;top:179.80px" class="cls_004"><span class="cls_004">arbitrator, and such arbitrator shall have no authority to add Parties, vary the</span></div>
<div style="position:absolute;left:93.37px;top:195.61px" class="cls_004"><span class="cls_004">provisions of this Agreement, award punitive damages, or certify a class. The</span></div>
<div style="position:absolute;left:93.37px;top:211.43px" class="cls_004"><span class="cls_004">arbitrator shall be bound by applicable and governing Federal law as well as the law</span></div>
<div style="position:absolute;left:93.37px;top:227.24px" class="cls_004"><span class="cls_004">of the following state: Michigan. Each Party shall pay their own costs and fees.</span></div>
<div style="position:absolute;left:93.37px;top:243.05px" class="cls_004"><span class="cls_004">Claims necessitating arbitration under this section include, but are not limited to:</span></div>
<div style="position:absolute;left:93.37px;top:258.87px" class="cls_004"><span class="cls_004">contract claims, tort claims, claims based on Federal and state law, and claims</span></div>
<div style="position:absolute;left:93.37px;top:274.68px" class="cls_004"><span class="cls_004">based on local laws, ordinances, statutes or regulations. </span><span class="cls_005">Intellectual property claims</span></div>
<div style="position:absolute;left:93.37px;top:290.50px" class="cls_005"><span class="cls_005">by the Company will not be subject to arbitration and may, as an exception to this</span></div>
<div style="position:absolute;left:93.37px;top:306.31px" class="cls_005"><span class="cls_005">sub-part, be litigated. </span><span class="cls_004">The Parties, in agreement with this sub-part of this</span></div>
<div style="position:absolute;left:93.37px;top:322.13px" class="cls_004"><span class="cls_004">Agreement, waive any rights they may have to a jury trial in regard to arbitral claims.</span></div>
<div style="position:absolute;left:93.37px;top:351.78px" class="cls_003"><span class="cls_003">d) ASSIGNMENT:</span><span class="cls_004"> This Agreement, or the rights granted hereunder, may not be</span></div>
<div style="position:absolute;left:93.37px;top:367.66px" class="cls_004"><span class="cls_004">assigned, sold, leased or otherwise transferred in whole or part by You. Should this</span></div>
<div style="position:absolute;left:93.37px;top:383.47px" class="cls_004"><span class="cls_004">Agreement, or the rights granted hereunder, by assigned, sold, leased or otherwise</span></div>
<div style="position:absolute;left:93.37px;top:399.29px" class="cls_004"><span class="cls_004">transferred by the Company, the rights and liabilities of the Company will bind and</span></div>
<div style="position:absolute;left:93.37px;top:415.10px" class="cls_004"><span class="cls_004">inure to any assignees, administrators, successors, and executors.</span></div>
<div style="position:absolute;left:93.37px;top:444.76px" class="cls_003"><span class="cls_003">e) SEVERABILITY:</span><span class="cls_004"> If any part or sub-part of this Agreement is held invalid or</span></div>
<div style="position:absolute;left:93.37px;top:460.63px" class="cls_004"><span class="cls_004">unenforceable by a court of law or competent arbitrator, the remaining parts and</span></div>
<div style="position:absolute;left:93.37px;top:476.45px" class="cls_004"><span class="cls_004">sub-parts will be enforced to the maximum extent possible. In such condition, the</span></div>
<div style="position:absolute;left:93.37px;top:492.26px" class="cls_004"><span class="cls_004">remainder of this Agreement shall continue in full force.</span></div>
<div style="position:absolute;left:93.37px;top:521.92px" class="cls_003"><span class="cls_003">f) NO WAIVER:</span><span class="cls_004"> In the event that We fail to enforce any provision of this Agreement,</span></div>
<div style="position:absolute;left:93.37px;top:537.80px" class="cls_004"><span class="cls_004">this shall not constitute a waiver of any future enforcement of that provision or of any</span></div>
<div style="position:absolute;left:93.37px;top:553.61px" class="cls_004"><span class="cls_004">other provision. Waiver of any part or sub-part of this Agreement will not constitute a</span></div>
<div style="position:absolute;left:93.37px;top:569.42px" class="cls_004"><span class="cls_004">waiver of any other part or sub-part.</span></div>
<div style="position:absolute;left:93.37px;top:599.08px" class="cls_003"><span class="cls_003">g) HEADINGS FOR CONVENIENCE ONLY:</span><span class="cls_004"> Headings of parts and sub-parts under</span></div>
<div style="position:absolute;left:93.37px;top:614.96px" class="cls_004"><span class="cls_004">this Agreement are for convenience and organization, only. Headings shall not</span></div>
<div style="position:absolute;left:93.37px;top:630.77px" class="cls_004"><span class="cls_004">affect the meaning of any provisions of this Agreement.</span></div>
<div style="position:absolute;left:93.37px;top:660.43px" class="cls_003"><span class="cls_003">h) NO AGENCY, PARTNERSHIP OR JOINT VENTURE:</span><span class="cls_004"> No agency, partnership,</span></div>
<div style="position:absolute;left:93.37px;top:676.30px" class="cls_004"><span class="cls_004">or joint venture has been created between the Parties as a result of this Agreement.</span></div>
<div style="position:absolute;left:93.37px;top:692.12px" class="cls_004"><span class="cls_004">No Party has any authority to bind the other to third parties.</span></div>
<div style="position:absolute;left:527.23px;top:754.02px" class="cls_002"><span class="cls_002">8/9</span></div>
</div>
<div style="position:absolute;left:50%;margin-left:-306px;top:6416px;width:612px;height:792px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_id_3b7fdfca-b8a4-11eb-a980-0cc47a792c0a_files/background9.jpg" width=612 height=792></div>
<div style="position:absolute;left:93.37px;top:71.41px" class="cls_003"><span class="cls_003">i) FORCE MAJEURE:</span><span class="cls_004"> The Company is not liable for any failure to perform due to</span></div>
<div style="position:absolute;left:93.37px;top:87.29px" class="cls_004"><span class="cls_004">causes beyond its reasonable control including, but not limited to, acts of God, acts</span></div>
<div style="position:absolute;left:93.37px;top:103.10px" class="cls_004"><span class="cls_004">of civil authorities, acts of military authorities, riots, embargoes, acts of nature and</span></div>
<div style="position:absolute;left:93.37px;top:118.92px" class="cls_004"><span class="cls_004">natural disasters, and other acts which may be due to unforeseen circumstances.</span></div>
<div style="position:absolute;left:93.37px;top:148.57px" class="cls_003"><span class="cls_003">j) ELECTRONIC COMMUNICATIONS PERMITTED:</span><span class="cls_004"> Electronic communications</span></div>
<div style="position:absolute;left:93.37px;top:164.45px" class="cls_004"><span class="cls_004">are permitted to both Parties under this Agreement, including e-mail or fax. For any</span></div>
<div style="position:absolute;left:93.37px;top:180.26px" class="cls_004"><span class="cls_004">questions or concerns, please email Us at the following address:</span></div>
<div style="position:absolute;left:93.37px;top:196.08px" class="cls_004"><span class="cls_004">interniacs@gmail.com.</span></div>
<div style="position:absolute;left:527.23px;top:754.02px" class="cls_002"><span class="cls_002">9/9</span></div>
</div>

</body>
</html>
