<div class="row">
    {% for listing in user.acceptances.all %}
        <div class="col-lg-3 mb-5">
            <h1>{{ listing.title }}</h1>
            <a class="neutral-btn" href="{% url 'listing' slug=listing.slug %}">View Listing</a>
            <a class="success-btn ml-3 mr-3" href="mailto:{{ listing.company.email }}">Email {{ listing.company.company_name }}</a>
            <a class="danger-btn" href="{% url 'archive_accepted' listing_id=listing.id student_id=user.id %}?redirect=profile">Archive</a>
        </div>
    {% endfor %}
</div>
