<div class="row">
    {% for listing in user.applications.all %}
        <div class="col-lg-4 mb-5">
            <h1>{{ listing.title }}</h1>
            <a class="neutral-btn mr-3" href="{% url 'listing' slug=listing.slug %}">View Listing</a>
            <a class="danger-btn ml-3 mr-3" href="{% url 'unapply' listing_id=listing.id %}?redirect=profile">Unapply</a>
            <a class="success-btn ml-3 mr-3" href="mailto:{{ listing.company.email }}">Email {{ listing.company.company_name }}</a>
        </div>
    {% endfor %}
</div>

