<div class="row justify-content-around">
    {% for listing in user.applications.all %}
        <div class="col-lg-3 mr-2 ml-2 mb-5 bg-white text-break light-outer-shadow p-5 br-10">
            <h2>{{ listing.title }}</h2>
            <div class="mt-4 row text-center">
                <div class="col-xl-5">
                    <a class="neutral-cta-btn  mat-btn w-100 h-100" href="{% url 'listing' slug=listing.slug %}">View Listing</a>
                </div>
                <div class="col-xl-4 mtb-xl">
                    <a class="danger-cta-btn  mat-btn h-100 w-100"
                       href="{% url 'unapply' listing_id=listing.id %}?redirect=profile">Unapply</a>
                </div>
                <div class="col-xl-3">
                    <a class="success-cta-btn  mat-btn h-100 w-100"
                       href="mailto:{{ listing.company.email }}">Email {{ listing.company.company_name }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

