<div class="row justify-content-around">
    {% for listing in user.awaiting_confirm_acceptance.all %}
    <div class="col-lg-3 mr-2 ml-2 bg-white text-break light-outer-shadow p-5 br-10">
        <a class="primary" href="{% url 'listing' slug=listing.slug %}">
            <h2>{{ listing.title }}</h2>
        </a>
        <div class="mt-3">
            <div class="row text-center">
                <div class="col-md-6">
                    <a data-toggle="tooltip" title="Accept" class="success-cta-btn  mat-btn h-100 w-100"
                        onclick="return confirm('This will automatically withdraw your application for ALL other Internships you have applied for. Are you sure you would like to continue?');"
                        href="{% url 'confirm_acceptance' listing_id=listing.id %}"><i class="far fa-check-circle fa-2x"
                            aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-md-6">
                    <a data-toggle="tooltip" title="Decline" class="danger-cta-btn  mat-btn h-100 w-100"
                        onclick="return confirm('Are you sure?');"
                        href="{% url 'decline_acceptance' listing_id=listing.id %}"><i class="fas fa-times fa-2x"
                            aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>