<div class="row">
    {% for listing in user.student_interview_requests.all %}
        <div class="col-lg-4">
            <h2>{{ listing.title }}</h2>
            <div class="mb-4">
                <a style="display: block; color: black" class="mb-2 mt-1"
                   href="{% url 'single_application' listing_slug=listing.slug user_slug=user.slug %}">{{ user.first_name }} {{ user.last_name }}</a>
                <a class="neutral-btn" href="mailto:{{ user.email }}">{{ user.email }}</a>
                <a class="danger-btn"
                   href="{% url 'archive_rejected' listing_id=listing.id student_id=user.id %}">Archive</a>
            </div>
        </div>
    {% endfor %}
</div>