<div class="row justify-content-around">
    {% for listing in user.student_rejections.all %}
    <div class="col-lg-3 mr-2 ml-2 text-break bg-white light-outer-shadow p-5 br-10">
        <a class="primary" href="{% url 'listing' slug=listing.slug %}">
            <h2>{{ listing.title }}</h2>
        </a>
        <div class="mt-3">
            <div class="row text-center">
                <div class="col-md-6">
                    <a class="neutral-cta-btn  mat-btn h-100 w-100" href="mailto:{{ listing.company.email }}">{{ listing.company.email }}</a>
                </div>
                <div class="col-md-6">

                    <a data-toggle="tooltip" title="Archive" class="danger-cta-btn  mat-btn h-100 w-100"
                        onclick="return confirm('Are you sure?');"
                        href="{% url 'archive_rejected' listing_id=listing.id student_id=user.id %}"><i
                            class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>