{% load filter %}

<div class="row justify-content-around">
    {% for listing in user.listing.all %}
        {% if listing.applications.all %}
            <div class="col-xl-3 mr-2 ml-2 bg-white light-outer-shadow text-break br-10" style="margin-bottom: 10rem;">

                <div class="text-right m-0 "><a data-toggle="tooltip" title="Clear notifications" class="notif-circle"
                                                href="{% url 'clear_notifs' slug=listing.slug %}">{{ listing|filter_from_notif:user|length }}</a>
                </div>
                <div class="p-5 m-0">

                    <h2 class="mb-4">{{ listing.title }}</h2>

                    {% for student in listing.applications.all|slice:":3" %}
                        <div class="{% if not listing.applications.all.count == 1 %}mb-5{% endif %}">
                            <p>{{ student.first_name }} {{ student.last_name }}</p>
                            <div class="row text-center">
                                <div class="col-md-3">
                                    <a data-toggle="tooltip" title="Accept"
                                       class="success-cta-btn  mat-btn w-100 h-100" onclick="return confirm('Are you sure?');"
                                       href="{% url 'accept' listing_id=listing.id student_id=student.id %}"><i
                                            class="fas fa-check"></i>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <a data-toggle="tooltip" title="Reject" class="danger-cta-btn  mat-btn w-100 h-100"
                                       onclick="return confirm('Are you sure?');"
                                       href="{% url 'reject' listing_id=listing.id student_id=student.id %} "><i
                                            class="fas fa-window-close"></i>

                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a class="neutral-cta-btn  mat-btn bottom-application-btn w-100"
                                       href="{% url 'single_application' listing_slug=listing.slug user_slug=student.slug %}">View
                                        Application</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% if listing.applications.all|length > 3 %}
                        <a class="secondary" href="{% url 'all_applications' slug=listing.slug %}">View more</a>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>


