{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% include 'boilerplate/bootstrap.html' %}

        <link rel="stylesheet" href="{% static "css/style.css" %}"/>

        <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/logo-small-transparent.png' %}"/>

        <script src="https://kit.fontawesome.com/a76f8913d2.js" crossorigin="anonymous"></script>


        <title>Interniac</title>
    </head>
    <body>

        <section id="nav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img width=200 height="50" src="{% static "assets/images/logos/logo-transparent.png" %}" alt="logo"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'careers' %}">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'marketplace' %}">Marketplace</a>
                        </li>
                        <li class="nav-item nav-item-active">
                            <a class="nav-link" href="{{ user.get_absolute_url }}">Account</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>

        <section>
            <div class="container-fluid">
                <div class="mb-2">
                    <a href="{{ request.META.HTTP_REFERER }}">
                        <i class="fas fa-arrow-circle-left fa-2x"></i>
                    </a>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-9">
                            {% if student.first_name and student.last_name %}
                                <h3>Name</h3>
                                <p>{{ student.first_name }} {{ student.last_name }}</p>
                            {% endif %}

                            {% if student.profile.phone %}
                                <h3 class="mt-5">Phone Number</h3>
                                <p>{{ student.profile.phone }}</p>
                            {% endif %}

                            {% if student.email %}
                                <h3 class="mt-5">Email</h3>
                                <a href="mailto:{{ student.email }}">{{ student.email }}</a>
                            {% endif %}

                            {% if student.profile.dob %}
                                <h3 class="mt-5">Date of Birth</h3>
                                <p>{{ student.profile.dob }}</p>
                            {% endif %}

                            {% if student.profile.hs %}
                                <h3 class="mt-5">High School</h3>
                                <p>{{ student.profile.hs }}</p>
                            {% endif %}

                            {% if student.profile.hs_addy %}
                                <h3 class="mt-5">High School Address</h3>
                                <p>{{ student.profile.hs_addy }}</p>
                            {% endif %}

                            {% if student.profile.teacher_or_counselor_name %}
                                <h3 class="mt-5">Teacher or Counselor Name</h3>
                                <p>{{ student.profile.teacher_or_counselor_name }}</p>
                            {% endif %}

                            {% if student.profile.leadership_roles %}
                                <h3 class="mt-5">Teacher or Counselor Email</h3>
                                <p>{{ student.profile.teacher_or_counselor_email }}</p>
                            {% endif %}

                            {% if student.profile.awards_achievements %}
                                <h3 class="mt-5">Awards and Achievements</h3>
                                <p>{{ student.profile.awards_achievements }}</p>
                            {% endif %}

                            {% if student.profile.work_exp %}
                                <h3 class="mt-5">Work Experience</h3>
                                <p>{{ student.profile.work_exp }}</p>
                            {% endif %}

                            {% if student.profile.volunteering_exp %}
                                <h3 class="mt-5">Volunteering Experience</h3>
                                <p>{{ student.profile.volunteering_exp }}</p>
                            {% endif %}

                            {% if student.profile.extracurriculars %}
                                <h3 class="mt-5">Extracurriculars</h3>
                                <p>{{ student.profile.extracurriculars }}</p>
                            {% endif %}

                            {% if student.profile.skills %}
                                <h3 class="mt-5">Skills</h3>
                                <p>{{ student.profile.skills }}</p>
                            {% endif %}

                            {% if student.profile.leadership_roles %}
                                <h3 class="mt-5">Leadership Roles</h3>
                                <p>{{ student.profile.leadership_roles }}</p>
                            {% endif %}

                            <div class="container-fluid mt-5">
                                {% if student.profile.link1 %}
                                    <div class="row">
                                        <h5>Link 1: </h5>
                                        <a href="{{ student.profile.link1 }}">{{ student.profile.link1 }}</a>
                                    </div>
                                {% endif %}

                                {% if student.profile.link2 %}
                                    <div class="row mt-3">
                                        <h5>Link 2: </h5>
                                        <a href="{{ student.profile.link2 }}">{{ student.profile.link2 }}</a>
                                    </div>
                                {% endif %}

                                {% if student.profile.link3 %}
                                    <div class="row mt-3">
                                        <h5>Link 3: </h5>
                                        <a href="{{ student.profile.link3 }}">{{ student.profile.link3 }}</a>
                                    </div>
                                {% endif %}

                                {% if student.profile.link4 %}
                                    <div class="row mt-3">
                                        <h5>Link 4: </h5>
                                        <a href="{{ student.profile.link4 }}">{{ student.profile.link4 }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="inner-shadow img-box">
                                <img class="outer-shadow img-fluid" src="{{ student.get_profile_pic_url }}"
                                     alt="profile picture"/>
                            </div>
                        </div>

                    </div>
                    {% if student not in listing.acceptances.all and student not in listing.rejections.all %}
                        <div class="mt-4 mb-5">
                            <a class="success-btn" onclick="return confirm('Are you sure?');"
                               href="{% url 'accept' listing_id=listing.id student_id=student.id %}">Accept</a>

                            <a class="danger-btn ml-3" onclick="return confirm('Are you sure?');"
                               href="{% url 'reject' listing_id=listing.id student_id=student.id %}">Reject</a>

                            <a class="neutral-btn ml-3" onclick="return confirm('Are you sure?');"
                               href="{% url 'request_interview' listing_id=listing.id student_id=student.id %}">Request
                                Interview</a>
                        </div>
                    {% elif student in listing.acceptances.all %}
                        <p class="text-success">Accepted</p>
                    {% elif student in listing.rejections.all %}
                        <p class="text-danger">Rejected</p>
                    {% endif %}
                </div>
            </div>
        </section>


    </body>
</html>
