{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'boilerplate/bootstrap.html' %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/logo-small-transparent.png' %}"/>
        <script src="https://kit.fontawesome.com/a76f8913d2.js" crossorigin="anonymous"></script>
        <title>Interniac</title>
    </head>
    <body>
        <section id="nav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img width=200 height="50" src="{% static "assets/images/logos/logo-transparent.png" %}" alt="logo"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'careers' %}">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'marketplace' %}">Marketplace</a>
                            </li>
                        {% endif %}
                        <li class="nav-item nav-item-active">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="{{ user.get_absolute_url }}">Account</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
        <div class="container-fluid">
            <div class="row justify-content-around">
                <div class="col-lg-3">
                    {% if cooloff_time_minutes %}
                        <p>You can login again after: <b>{{ cooloff_time_minutes|add:"0" }} minutes</b></p>
                    {% else %}
                        <form method="post" id="login">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary mt-3" id="login-btn">Login</button>
                        </form>
                        <div class="mt-3 mb-5">
                            <a class="float-left text-success" href="{% url 'register' %}">Register</a>
                            <a class="float-right text-danger" href="{% url 'password_reset' %}">Forgot password?</a>
                        </div>
                    {% endif %}
                    
                    <img width="40%" class="position-absolute send-back spin mt-5" src="{% static 'assets/decorations/blob-bg-primary.svg' %}" alt=""/>

                </div>
                <div class="col-lg-5">
                    <div>
                        <img width="100%" class="img-fluid" src="{% static 'assets/images/login.svg' %}" alt="login image"/>
                        <div class="w-100 text-right">
                            <img width="10%" class="position- send-back spin-counter" src="{% static 'assets/decorations/blob-primary.svg' %}" alt=""/>
                        </div>

                    </div>
                    <img width="15%" class="position-absolute send-back spin" src="{% static 'assets/decorations/blob-secondary.svg' %}" alt=""/>
                </div>
            </div>
        </div>

    </body>
</html>