{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'boilerplate/bootstrap.html' %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
        <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/logo-small-transparent.png' %}"/>
        <script src="https://kit.fontawesome.com/a76f8913d2.js" crossorigin="anonymous"></script>
        <title>Interniac</title>
    </head>
    <body>
        <section id="nav">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img width=200 height="50" src="{% static "assets/images/logos/logo-transparent.png" %}" alt="logo"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'careers' %}">Careers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'marketplace' %}">Marketplace</a>
                            </li>
                        {% endif %}
                        <li class="nav-item nav-item-active">
                            {% if user.is_authenticated %}
                                <a class="nav-link" href="{{ user.get_absolute_url }}">Account</a>
                            {% else %}
                                <a class="nav-link" href="{% url 'login' %}">Login</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
        <section>
            <div class="mb-2 ml-3">
                <a href="{{ request.META.HTTP_REFERER }}">
                    <i class="fas fa-arrow-circle-left fa-2x"></i>
                </a>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="col-lg-6">
                    {% block content %}
                        <h3>Forgot password</h3>
                        <form method="post" id="pass-reset-form">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button class="btn btn-primary w-100 save-btn mt-2" type="submit">Submit</button>
                        </form>
                    {% endblock %}
                </div>

            </div>

        </section>
    </body>
</html>