<footer>
    <div>
        <div class="mb-2 row justify-content-center">
            <a target="_blank" href="https://www.instagram.com/interniac/"><i
                    class="icon fab fa-instagram fa-2x"></i></a>
            <a target="_blank" href="https://www.tiktok.com/@_connectx?lang=en"><i class="icon fab fa-tiktok fa-2x"></i></a>
            <a target="_blank" href="https://www.facebook.com/connectx.founders"><i
                    class="icon fab fa-facebook fa-2x"></i></a>
        </div>
        <p>© 2021 Interniac. All rights reserved</p>
    </div>
</footer>