<footer>
    <div>
        <div class="container-fluid">
            <div class="mb-2 row justify-content-center">
                <a target="noopener noreferre" href="https://www.instagram.com/interniac/"><i
                        class="icon fab fa-instagram fa-2x"></i></a>
                <a target="noopener noreferre" href="https://www.tiktok.com/@_connectx?lang=en"><i
                        class="icon fab fa-tiktok fa-2x"></i></a>
                <a target="noopener noreferre" href="https://www.facebook.com/connectx.founders"><i
                        class="icon fab fa-facebook fa-2x"></i></a>
            </div>
        </div>

        <a target="noopener noreferre" href="https://github.com/Interniac/Interniac-Website"><i
                        class="icon fab fa-github fa-2x mt-2 mb-2"></i></a>

        <p>© 2021 Interniac & CodingForCharity. All rights reserved</p>
    </div>
</footer>